openapi: 3.1.0

info:
  title: Anton Payments API
  version: 1.0.0
  summary: Cross-border payout infrastructure. Fiat, stablecoin, and crypto.
  description: |
    The Anton Payments merchant API. Versioned, idempotent, cursor-paginated.

    - Authentication: bearer API key in the `Authorization` header.
    - Base URLs: `https://api.antonpayments.com` (production), `https://api.antonpayments.dev` (sandbox).
    - Monetary amounts are decimal strings. Never floats.
    - Timestamps are RFC 3339 UTC.
    - All mutating endpoints support the `Idempotency-Key` header.

    See the Cross-Cutting section of the docs for idempotency, pagination, rate limits, errors, webhook events, and webhook signing.
  contact:
    name: Anton Payments Support
    url: https://help.antonpayments.com
  license:
    name: Proprietary
    url: https://www.antonpayments.com

servers:
  - url: https://api.antonpayments.com
    description: Production
  - url: https://api.antonpayments.dev
    description: Sandbox

security:
  - bearerAuth: []

tags:
  - name: Reference Data
    description: Currencies, countries, and supported payment methods.
  - name: Beneficiaries
    description: Create and manage the people and businesses you pay.
  - name: Instruments
    description: Payment instruments attached to beneficiaries — bank accounts, wallets, cards.
  - name: Payouts
    description: Initiate and track payouts.
  - name: Batches
    description: CSV-driven bulk payout processing.
  - name: Balances
    description: Merchant balance by currency.
  - name: Accounts
    description: Virtual accounts for merchant funding.
  - name: Webhooks
    description: Subscribe to event notifications.
  - name: Documents
    description: Upload and manage KYB and supporting documents.
  - name: RFIs
    description: Respond to Requests for Information raised during review.
  - name: Pricing
    description: Read merchant pricing plans and quote fees.
  - name: FX
    description: Quote, lock, and execute currency exchanges between balances.
  - name: Corridors
    description: Active cross-border corridors for your merchant.
  - name: Balance Alerts
    description: Per-currency low-balance thresholds that drive the `balance.low` webhook event.
  - name: Sandbox
    description: Reset and seed your sandbox environment.
  - name: Merchant
    description: Merchant profile, branding, preferences, and security posture.
  - name: API Keys
    description: Issue, list, and revoke API keys.
  - name: Users
    description: Self-service profile, MFA, and team management.
  - name: Notifications
    description: Per-user notification channels and preferences.
  - name: Velocity
    description: Merchant-scoped risk rules and what-if simulation.
  - name: Engine
    description: Glass-box view of Anton's risk intelligence.
  - name: Onboarding
    description: Authenticated KYB onboarding draft and submission.
  - name: Public Onboarding
    description: Session-authenticated hosted onboarding flow. Not intended for SDK consumption.

paths:
  /v1/currencies:
    get:
      tags: [Reference Data]
      summary: List supported currencies
      operationId: listCurrencies
      description: |
        Return every currency Anton supports, across fiat, crypto, and stablecoin.
        Use these codes when building payout or FX requests.

        The catalog is pruned at call time to currencies with at least one active
        corridor. Each entry carries a lifecycle `status` (`active` or `deprecated`)
        and `supported_rails` indicating which rail families (`fiat`, `crypto`,
        `stablecoin`) can carry the token.
      responses:
        '200':
          description: Supported currencies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
              example:
                data:
                  - code: USD
                    name: US Dollar
                    decimals: 2
                    symbol: "$"
                    type: fiat
                    status: active
                    supported_rails: [fiat]
                  - code: USDC
                    name: USD Coin
                    decimals: 6
                    symbol: USDC
                    type: stablecoin
                    status: active
                    supported_rails: [stablecoin]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/countries:
    get:
      tags: [Reference Data]
      summary: List supported countries
      operationId: listCountries
      description: |
        Return every country Anton recognizes (the full 159-country superset derived
        from the instrument registry), along with the currencies each country
        supports and whether Anton currently has an active, non-wildcard payout
        corridor for the destination (`payout_supported`).

        Clients that previously relied on `/v1/countries` returning only routable
        destinations should filter on `payout_supported == true`.
      responses:
        '200':
          description: Supported countries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payment-methods:
    get:
      tags: [Reference Data]
      summary: List supported payment methods
      operationId: listPaymentMethods
      description: |
        Return the catalog of payment-method descriptors — each row is a credential
        format (IBAN, UK bank, US bank, IPX proxies, crypto, card, mobile money)
        with the countries where it's supported.

        Use this endpoint to drive dynamic instrument-creation UI: pick a country,
        filter to supported methods, prompt for the right credential fields.
      responses:
        '200':
          description: Supported payment methods.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethodDescriptor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/beneficiaries:
    post:
      tags: [Beneficiaries]
      summary: Create a beneficiary
      operationId: createBeneficiary
      description: |
        Create a person (`individual`) or business (`business`) you want to pay. PII
        submitted in the request body is tokenized in Basis Theory on creation — only
        a display name, country, and opaque token reference are stored in the Anton
        database.

        To retrieve the PII you submitted, use `GET /v1/beneficiaries/{id}/pii`.

        This endpoint requires an `Idempotency-Key` header. Duplicate calls with the
        same key return the original beneficiary; different bodies with the same key
        return `409 idempotency_conflict`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryCreateRequest'
            examples:
              individual:
                summary: Individual beneficiary
                value:
                  type: individual
                  country: GB
                  external_ref: contractor-1042
                  individual:
                    first_name: Jane
                    last_name: Smith
                    email: jane@example.com
                    phone: "+442079460000"
                    date_of_birth: "1988-05-12"
                    nationality: GB
                    address:
                      street_line_1: 10 Example Street
                      city: London
                      postal_code: SW1A 1AA
                      country: GB
              business:
                summary: Business beneficiary
                value:
                  type: business
                  country: DE
                  business:
                    legal_name: Example GmbH
                    registration_number: HRB12345
                    email: ap@example.de
                    phone: "+493012345678"
                    entity_type: llc
                    incorporation_country: DE
                    address:
                      street_line_1: Beispielstraße 1
                      city: Berlin
                      postal_code: "10115"
                      country: DE
      responses:
        '201':
          description: Beneficiary created.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Idempotent-Replayed:
              $ref: '#/components/headers/X-Idempotent-Replayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '400':
          $ref: '#/components/responses/IdempotencyConflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Beneficiaries]
      summary: List beneficiaries
      operationId: listBeneficiaries
      description: |
        List beneficiaries scoped to your merchant. Results are cursor-paginated and
        sorted by creation time descending.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Filter by beneficiary status.
          required: false
          schema:
            type: string
            enum: [active, archived, blocked]
        - name: type
          in: query
          description: Filter by beneficiary type.
          required: false
          schema:
            type: string
            enum: [individual, business]
        - name: country
          in: query
          description: Filter by ISO-3166 alpha-2 country code.
          required: false
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Paginated list of beneficiaries.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Beneficiary ID (prefixed `ben_`).
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
          example: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
    get:
      tags: [Beneficiaries]
      summary: Retrieve a beneficiary
      operationId: getBeneficiary
      description: Return a single beneficiary by ID. Returns `404` if the beneficiary does not exist or belongs to a different merchant.
      responses:
        '200':
          description: Beneficiary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Beneficiaries]
      summary: Update a beneficiary
      operationId: updateBeneficiary
      description: |
        Update mutable fields on a beneficiary: `display_name`, `country`, `external_ref`,
        and `metadata`. PII cannot be updated via this endpoint — use
        `PUT /v1/beneficiaries/{id}/pii` instead, since PII is tokenized.

        Fields not present in the request body are left unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryUpdateRequest'
      responses:
        '200':
          description: Beneficiary updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Beneficiaries]
      summary: Delete a beneficiary
      operationId: deleteBeneficiary
      description: |
        Soft-deletes a beneficiary. The record is removed from active listings and
        can no longer be used to initiate new payouts. Historical payouts referencing
        this beneficiary remain unchanged and accessible.

        Archiving is typically preferred over deletion — see
        `POST /v1/beneficiaries/{id}/archive`. Archiving preserves the beneficiary
        in a disabled state that can be restored later.
      responses:
        '204':
          description: Beneficiary deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/pii:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    get:
      tags: [Beneficiaries]
      summary: Retrieve beneficiary PII
      operationId: getBeneficiaryPII
      description: |
        Detokenizes and returns the PII stored in Basis Theory for this beneficiary.
        Every access is recorded in the merchant audit log (PCI DSS 10.2.1).

        Use this to pre-populate edit forms or verify submitted identity data.
      responses:
        '200':
          description: Beneficiary PII, detokenized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryPII'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Beneficiaries]
      summary: Replace beneficiary PII
      operationId: updateBeneficiaryPII
      description: |
        Replaces the PII stored in Basis Theory for this beneficiary. The entire PII
        blob is replaced — partial updates are not supported, because tokens are
        immutable.

        Supply the detail block matching the beneficiary's `type` (`individual` or
        `business`). The `display_name` on the beneficiary record is automatically
        re-derived from the new PII.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryPIIUpdateRequest'
      responses:
        '200':
          description: Beneficiary PII replaced. Returns the updated beneficiary record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/archive:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Archive a beneficiary
      operationId: archiveBeneficiary
      description: |
        Soft-disables a beneficiary. The record is preserved and can be restored later,
        but it cannot be used to initiate new payouts while archived. PII remains
        tokenized and accessible.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
                  description: IP address of the merchant's end-user who initiated this action.
      responses:
        '200':
          description: Beneficiary archived. Returns the updated record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/restore:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Restore an archived beneficiary
      operationId: restoreBeneficiary
      description: |
        Restores a previously archived beneficiary to active status. Beneficiaries
        blocked by compliance cannot be restored via this endpoint — contact support.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Beneficiary restored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/rescore:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Rescore a beneficiary
      operationId: rescoreBeneficiary
      description: |
        Triggers a manual Payee-pillar rescore of this beneficiary via the Anton
        Engine. Use this after remediating a data issue (completed verification,
        resolved an adverse event, updated PII) when you want a fresh verdict
        before the next payout rather than waiting for the next scheduled
        evaluation.

        The engine response is returned directly so the portal can render the
        old vs new score. The merchant-initiated `reason` is always recorded as
        `ops_review`; no request body is required.

        Requires an `Idempotency-Key` header.

        Concurrency and rate limiting are enforced by the engine:
        - If another rescore is already in flight for this beneficiary, the API
          returns `202 Accepted` with `{"status": "in_flight"}` (no retry needed).
        - If a rescore completed very recently, the API returns
          `429 rescore_rate_limited`. Honor `Retry-After` before retrying.
        - If the beneficiary is in a terminal state (permanently locked), the
          API returns `409 beneficiary_scoring_locked`.
        - If the engine has not yet seeded a profile for this beneficiary, the
          API returns `404 engine_beneficiary_not_found`. Retry after the next
          payout, which seeds the profile.
        - If the engine admin token is not configured on this environment, the
          API returns `501 rescore_not_configured`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: No request body is required. Any body is ignored.
      responses:
        '200':
          description: Rescore completed. The body is the engine's verdict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryRescoreResponse'
        '202':
          description: |
            A rescore is already running for this beneficiary. No retry is
            needed; wait for the next scheduled reconciliation or poll the
            beneficiary.
          content:
            application/json:
              schema:
                type: object
                required: [status, message]
                properties:
                  status:
                    type: string
                    enum: [in_flight]
                  message:
                    type: string
                    example: a rescore for this beneficiary is already running
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: |
            Beneficiary not found (`beneficiary_not_found`) or the engine has
            no profile for this beneficiary yet (`engine_beneficiary_not_found`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                beneficiary_not_found:
                  summary: Beneficiary does not exist under this merchant
                  value:
                    error:
                      message: beneficiary not found
                      code: beneficiary_not_found
                engine_beneficiary_not_found:
                  summary: Engine has no profile for this beneficiary yet
                  value:
                    error:
                      message: engine has no profile for this beneficiary yet — please try again after the next payout
                      code: engine_beneficiary_not_found
        '409':
          description: |
            Either an idempotency key conflict (`idempotency_conflict`) or the
            beneficiary is in a terminal scoring state (`beneficiary_scoring_locked`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                beneficiary_scoring_locked:
                  summary: Beneficiary is permanently locked and cannot be rescored
                  value:
                    error:
                      message: this beneficiary is in a terminal state and cannot be rescored
                      code: beneficiary_scoring_locked
                idempotency_conflict:
                  summary: Idempotency key was replayed with a different payload
                  value:
                    error:
                      message: idempotency key conflict
                      code: idempotency_conflict
        '429':
          description: |
            Either the standard per-merchant rate limit (`rate_limit_exceeded`)
            or the beneficiary-specific rescore cooldown (`rescore_rate_limited`).
            Honor `Retry-After`.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                rescore_rate_limited:
                  summary: A rescore for this beneficiary completed recently
                  value:
                    error:
                      message: a rescore completed recently; please wait before retrying
                      code: rescore_rate_limited
        '501':
          description: |
            Manual rescore is not configured on this API instance (the engine
            admin token is not set). This is an environment-level configuration
            issue, not a caller mistake.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                rescore_not_configured:
                  value:
                    error:
                      message: manual rescore is not enabled on this API
                      code: rescore_not_configured

  /v1/payouts:
    post:
      tags: [Payouts]
      summary: Create a payout
      operationId: createPayout
      description: |
        Initiate a payout from your merchant balance to a beneficiary's payment
        instrument. The payout goes through compliance screening, velocity
        evaluation, and engine risk scoring before being submitted to a rail — see
        [How Anton Evaluates Payouts](/how-anton-evaluates-payouts) for the full
        lifecycle.

        The initial status is `created`. The payout transitions to
        `pending_screening` within moments and its subsequent state changes are
        delivered via `payout.*` webhook events. Do not poll.

        Both `source_amount` and `dest_amount` must be provided along with
        `fixed_side` (`fixed_source` or `fixed_dest`) indicating which amount is
        authoritative. The other amount is recomputed on the backend using the
        current corridor pricing. An FX quote may be locked via `POST /v1/fx/quote`
        if you need rate certainty before submission.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCreateRequest'
            examples:
              same_currency:
                summary: Same-currency USD payout
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
                  source_amount: "500.00"
                  source_currency: USD
                  dest_amount: "500.00"
                  dest_currency: USD
                  method: ach
                  rail_type: fiat
                  fixed_side: fixed_dest
                  purpose: contractor_payment
                  reference: INV-1042
              cross_currency:
                summary: USD -> EUR SEPA
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
                  source_amount: "550.00"
                  source_currency: USD
                  dest_amount: "500.00"
                  dest_currency: EUR
                  method: sepa
                  rail_type: fiat
                  fee_bearer: merchant
                  fixed_side: fixed_dest
                  purpose: supplier_payment
                  reference: PO-8821
              stablecoin:
                summary: USDC on Ethereum
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA3
                  source_amount: "1000.00"
                  source_currency: USDC
                  dest_amount: "1000.00"
                  dest_currency: USDC
                  method: stablecoin
                  rail_type: stablecoin
                  fixed_side: fixed_dest
                  purpose: contractor_payment
                  reference: INV-1042
      responses:
        '201':
          description: Payout created. Subsequent lifecycle is reported via webhooks.
          headers:
            X-Idempotent-Replayed:
              $ref: '#/components/headers/X-Idempotent-Replayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — common causes include merchant not approved, corridor not enabled, or velocity rule blocking (`velocity_blocked`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Beneficiary or instrument not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          description: |
            Unprocessable — validation failed, insufficient balance, or beneficiary/
            instrument not eligible (e.g. archived, disabled, wrong currency).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorEnvelope'
                  - $ref: '#/components/schemas/ValidationErrorEnvelope'
              examples:
                insufficient_balance:
                  value:
                    error:
                      code: insufficient_balance
                      message: insufficient funds for this payout
                validation:
                  value:
                    error:
                      code: validation_error
                      message: request failed validation
                      details:
                        - field: dest_currency
                          message: must be a valid ISO-4217 currency code
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Payouts]
      summary: List payouts
      operationId: listPayouts
      description: |
        Cursor-paginated list of payouts for your merchant, sorted by `created_at`
        descending.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Filter by one or more statuses. Repeat the param to pass multiple values.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PayoutStatus'
          style: form
          explode: true
        - name: beneficiary_id
          in: query
          schema:
            type: string
            pattern: '^ben_[a-zA-Z0-9]+$'
        - name: instrument_id
          in: query
          schema:
            type: string
            pattern: '^ins_[a-zA-Z0-9]+$'
        - name: batch_id
          in: query
          schema:
            type: string
            pattern: '^bat_[a-zA-Z0-9]+$'
        - name: dest_currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: reference
          in: query
          description: Exact-match filter on the merchant's `reference` field.
          schema:
            type: string
        - name: created_after
          in: query
          description: RFC 3339 timestamp. Returns payouts with `created_at >= this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          description: RFC 3339 timestamp. Returns payouts with `created_at < this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of payouts.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Payout ID (prefixed `pay_`).
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
          example: pay_01HX8Z9K0M2N3P4Q5R6S7T8UAB
    get:
      tags: [Payouts]
      summary: Retrieve a payout
      operationId: getPayout
      description: Return a single payout by ID. Returns `404` if the payout does not exist or belongs to a different merchant.
      responses:
        '200':
          description: Payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/events:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    get:
      tags: [Payouts]
      summary: List lifecycle events for a payout
      operationId: listPayoutEvents
      description: |
        Return every status transition recorded for this payout, oldest first. Use
        this to reconstruct a payout's timeline for support, accounting, or
        debugging purposes. Note: the preferred way to react to events in real time
        is via webhook subscriptions — polling this endpoint wastes rate-limit
        budget.
      responses:
        '200':
          description: Lifecycle events.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayoutEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/velocity-results:
    parameters:
      - name: id
        in: path
        required: true
        description: Payout ID (prefixed `pay_`).
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    get:
      tags: [Payouts]
      summary: List velocity rule results for a payout
      operationId: listPayoutVelocityResults
      description: |
        Returns the per-rule velocity / risk evaluation snapshot captured at
        payout-creation time. Each row is one rule the engine evaluated against
        this payout with the triggered/threshold/action values recorded for that
        specific evaluation — rules edited or deleted after the fact don't
        rewrite history here.

        **Portal-only (JWT auth).** API-key callers get `403 api_key_not_accepted`
        — this endpoint is only reachable through the merchant dashboard. The
        same data is not exposed on public API keys to avoid encoding internal
        risk-policy surface into merchant integrations.
      x-anton-portal-only: true
      responses:
        '200':
          description: Velocity rule evaluation snapshot. May be empty if no rules ran (e.g. pre-screening payouts, or engine-bypassed flows).
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayoutVelocityResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Forbidden — the request authenticated via an API key. This endpoint
            is only available through the merchant dashboard (JWT auth).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              examples:
                api_key_rejected:
                  value:
                    error:
                      code: api_key_not_accepted
                      message: this endpoint is only available through the merchant dashboard
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    post:
      tags: [Payouts]
      summary: Cancel a payout
      operationId: cancelPayout
      description: |
        Cancel a payout that has not yet been submitted to a rail. Cancellation is
        only possible from `created`, `pending_screening`, `pending_approval`,
        `pending_engine_review`, or `manual_review`. Once a payout reaches
        `processing` or beyond, it cannot be cancelled via the API — contact
        support if you need to halt a payout in flight.

        Any debited source funds (source amount, fee, and cross-currency buffer)
        are released back to the merchant balance on successful cancellation.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Free-form reason for cancellation. Recorded in the audit log.
                  maxLength: 255
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Payout cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Payout is not in a cancellable state, or idempotency conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/instruments:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    get:
      tags: [Instruments]
      summary: List a beneficiary's instruments
      operationId: listInstrumentsForBeneficiary
      description: Return all payment instruments attached to this beneficiary.
      responses:
        '200':
          description: List of instruments for the beneficiary.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags: [Instruments]
      summary: Create an instrument for a beneficiary
      operationId: createInstrumentForBeneficiary
      description: |
        Attach a payment instrument to a beneficiary. The credentials you submit
        (bank account numbers, wallet addresses, card PANs) are tokenized in Basis
        Theory on receipt — Anton's core database stores only a token reference, a
        display-only masked value, and a content fingerprint used for cross-merchant
        deduplication.

        The request body shape depends on the `method` — each method has a distinct
        credential schema. See the [Instruments methods endpoint](#tag/Reference-Data/operation/listPaymentMethods)
        for the full per-country method catalog.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentCreateRequest'
      responses:
        '201':
          description: Instrument created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          description: |
            The request failed validation or a business rule on the instrument.

            Common error codes:
              * `validation_error` — body shape or field validation failed (e.g. `end_user_ip` not a valid IPv4/IPv6).
              * `invalid_credentials` — method-specific credential check failed (IBAN checksum, ABA routing checksum, wallet address format, etc.).
              * `method_not_supported` — the requested `method` is valid globally but is not supported for the beneficiary's country (e.g. `us_bank` on a `GB` beneficiary).
              * `duplicate_instrument` — an instrument with the same credentials already exists on this beneficiary. Reuse the existing instrument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches/template:
    get:
      tags: [Batches]
      summary: Download the batch template
      operationId: downloadBatchTemplate
      description: |
        Returns a ready-to-fill batch template with the canonical header row and a
        handful of example rows. Use this to anchor your batch format — column
        order and casing matter.

        Two formats are offered and are byte-for-byte aligned — the XLSX template
        uses the same columns in the same order as the CSV and is preferred for
        merchants editing in Excel / Google Sheets (richer data validation). The
        default format is `xlsx` when the `format` query parameter is omitted.

        Reconciliation columns of note:
          * `external_id` — your opaque internal payee reference (CRM ID, HR
            system ID, accounting-package payee code). Stored on every payout
            and beneficiary created from this batch and echoed back on reads so
            you can reconcile against your system of record. Must not contain
            PII, card data, or account numbers.
          * `source_currency` — optional per-row override of the funding
            currency; if unset, rows fall back to the `source_currency` passed
            on `POST /v1/batches/{id}/confirm`.
      parameters:
        - name: format
          in: query
          description: |
            Template format to download. Defaults to `xlsx` when omitted.
          schema:
            type: string
            enum: [xlsx, csv]
            default: xlsx
      responses:
        '200':
          description: Batch template in the requested format.
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          description: '`invalid_template_format` — `format` is not `xlsx` or `csv`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`template_not_found` — the template file is missing on this API instance (environment misconfiguration).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches:
    post:
      tags: [Batches]
      summary: Upload a batch
      operationId: uploadBatch
      description: |
        Upload a batch file (CSV or XLSX) containing many payout rows. The file
        is stored, hashed for duplicate detection, and queued for asynchronous
        validation. The response returns the batch in `uploaded` status; the
        status transitions to `validating`, then `validated` (or
        `validation_failed`) via webhook.

        After `validated`, review `GET /v1/batches/{id}` and the summary, then
        call `POST /v1/batches/{id}/confirm` to actually create the payouts.
        Confirmation expires — see `expires_at` on the batch record.

        If any other batch is already in a pending lifecycle state (`uploaded`,
        `validating`, `validated`, or `confirmed`) for this merchant, the
        response includes a `pending_batches` array as a soft warning — the
        upload still succeeds, but you should likely confirm or cancel the
        earlier batches first so funding calculations don't collide.

        Maximum file size: 32 MB. Maximum rows per batch: 10,000.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV or XLSX file. Filename is preserved.
                file_hash:
                  type: string
                  pattern: '^sha256:[a-f0-9]{64}$'
                  description: |
                    Optional client-computed SHA-256 of the file for defence-in-depth
                    verification. If provided, the server recomputes the hash and
                    rejects the upload with `file_hash_mismatch` (400) on any drift.
                    Format: `sha256:<64-hex>` (lowercase hex).
                  example: "sha256:9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
      responses:
        '201':
          description: Batch accepted and queued for validation.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Batch'
                  - type: object
                    properties:
                      pending_batches:
                        type: array
                        description: |
                          Other in-flight batches for this merchant at the time of
                          upload. Present only when at least one prior batch is in
                          `validated` or `confirmed` state. Use the IDs to confirm
                          or cancel the earlier batches.
                        items:
                          type: object
                          required: [id, status]
                          properties:
                            id:
                              type: string
                              pattern: '^bat_[a-zA-Z0-9]+$'
                            status:
                              $ref: '#/components/schemas/BatchStatus'
        '400':
          description: |
            Malformed upload.

            Common error codes:
              * `invalid_multipart_form` — request body could not be parsed as multipart.
              * `invalid_file` — the `file` form field is missing.
              * `invalid_file_format` — file extension is not `.csv` or `.xlsx`.
              * `file_hash_mismatch` — client-supplied `file_hash` does not match the server-computed SHA-256.
              * `file_too_large` — file exceeds the 32 MB limit. (Historically documented as 413; the 32 MB BodySizeLimit middleware currently surfaces oversize uploads as 400.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: '`duplicate_file` — a batch with this exact SHA-256 file hash is already `uploaded`, `validating`, `validated`, `confirmed`, or `processing` for this merchant. Wait for it to finish or cancel it; retry after.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`batch_upload_failed` — generic upload-flow failure not covered by the 400/409 codes above. Retry; share `X-Request-ID` on support tickets.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [Batches]
      summary: List batches
      operationId: listBatches
      description: Cursor-paginated list of batches for your merchant.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Restrict to a single batch status.
          schema:
            $ref: '#/components/schemas/BatchStatus'
        - name: created_after
          in: query
          description: |
            RFC 3339 timestamp — inclusive lower bound on `created_at`.
            Unparseable values are silently ignored (degrades to "no lower
            bound") rather than returning 400, to match `GET /v1/payouts`.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          description: RFC 3339 timestamp — inclusive upper bound on `created_at`. Unparseable values are silently ignored.
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of batches.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Batch'
        '400':
          description: '`invalid_cursor` — the supplied cursor is malformed or tampered.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/batches/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: Retrieve a batch
      operationId: getBatch
      description: Return a single batch, including its validation summary (when available).
      responses:
        '200':
          description: Batch record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/batches/{id}/confirm:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    post:
      tags: [Batches]
      summary: Confirm a validated batch
      operationId: confirmBatch
      description: |
        Confirm a batch for processing. Only batches in `validated` status can be
        confirmed; the batch moves to `confirmed` and then `processing` as payouts
        are created from valid rows.

        Confirmation is irrevocable — once a batch is `confirmed`, individual
        payouts can still be cancelled (`POST /v1/payouts/{id}/cancel`) up until
        they're submitted to a rail, but the batch itself proceeds.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                source_currency:
                  $ref: '#/components/schemas/CurrencyCode'
                  description: Override the default funding currency for rows that don't specify one.
      responses:
        '200':
          description: Batch confirmed and queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            - `batch_not_validated` — batch is not in `validated` status.
            - `batch_confirmation_expired` — the batch's `expires_at` has passed; re-upload the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: |
            - `batch_confirm_failed` — generic confirmation failure not covered by the 409 codes above.
            - `validation_error` — the optional `source_currency` body field is not a valid ISO 4217 currency code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    post:
      tags: [Batches]
      summary: Cancel a batch
      operationId: cancelBatch
      description: |
        Cancel a batch before processing begins. Valid from `uploaded`,
        `validating`, `validated`, `validation_failed`, or `confirmed`. Once
        `processing` begins, use per-payout cancellation instead.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Batch cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: '`batch_not_cancellable` — batch is already in a terminal state or is actively processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`batch_cancel_failed` — generic cancel-flow failure.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/payouts:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List payouts created from a batch
      operationId: listBatchPayouts
      description: |
        Cursor-paginated list of payouts created by processing this batch. Row
        order in the original file is preserved in the response.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Payouts created by this batch.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/batches/{id}/beneficiaries:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List beneficiaries touched by a batch
      operationId: listBatchBeneficiaries
      description: |
        List the beneficiaries that this batch created or first referenced.
        Covers both the auto-create path (a row with inline beneficiary
        details for which no matching beneficiary existed — Anton creates one
        and tags it with `source_batch_id`) and the match path (a row that
        resolved by `external_id` or display-name heuristic against an
        existing beneficiary, but where this batch was the first to touch it).

        Returned beneficiaries have `created_via: "batch"` and a
        `source_batch_id` equal to the batch ID in the URL. The response is
        merchant-scoped — cross-merchant ID probing returns 404.

        This endpoint may return `501 not_configured` on API instances where
        the beneficiary service is not wired into the batch handler (not the
        case for production or sandbox).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Paginated list of beneficiaries created or first referenced by this batch.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '501':
          description: '`not_configured` — batch beneficiary listing is not enabled on this API instance.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/errors:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List validation errors and warnings for a batch
      operationId: listBatchErrors
      description: |
        Return the row-level validation errors and warnings produced during the
        `validating` phase. Each error or warning carries the row number and
        field it applies to so you can point the merchant back to their source
        file.
      responses:
        '200':
          description: Errors and warnings keyed by row.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchError'
                      warnings:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/batches/{id}/results:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List per-row processing results
      operationId: listBatchResults
      description: |
        Return the per-row outcome of `processing`. For each original row you
        get the row number, outcome (`success`, `failed`, `skipped`, `pending`),
        the created `payout_id` (if any), and a human-readable reason for any
        non-success outcome.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Per-row results.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchRowResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/instruments:
    get:
      tags: [Instruments]
      summary: List instruments
      operationId: listInstruments
      description: |
        List payment instruments across all beneficiaries in your merchant scope.
        Use the `beneficiary_id` filter to narrow to a single beneficiary (or call
        `GET /v1/beneficiaries/{id}/instruments`, which returns the same result).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: beneficiary_id
          in: query
          schema:
            type: string
            pattern: '^ben_[a-zA-Z0-9]+$'
        - name: method
          in: query
          schema:
            $ref: '#/components/schemas/PaymentMethodCode'
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: country
          in: query
          schema:
            $ref: '#/components/schemas/CountryCode'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, disabled]
      responses:
        '200':
          description: Paginated list of instruments.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/instruments/countries:
    get:
      tags: [Instruments]
      summary: List countries available for instrument creation
      operationId: listInstrumentCountries
      description: |
        Lightweight country list scoped to the countries Anton can deliver
        payouts to. Use this to populate country dropdowns in an instrument-
        creation form — paired with `/v1/instruments/methods` to build the
        full method picker.

        For the full reference catalog (including IS3 codes and currency
        lists), use `/v1/countries` instead.
      responses:
        '200':
          description: Supported instrument countries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [iso2, name]
                      properties:
                        iso2:
                          $ref: '#/components/schemas/CountryCode'
                        name:
                          type: string

  /v1/instruments/methods:
    get:
      tags: [Instruments]
      summary: List payment-method schemas per country
      operationId: listInstrumentMethods
      description: |
        Return the per-country method catalog with the exact credential-field
        schema required for each method. Use this to drive dynamic instrument-
        creation forms that know which fields to prompt for based on the
        selected country and method.
      parameters:
        - name: country
          in: query
          description: Filter to methods available in a specific country.
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Per-country method schemas.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentMethodSchema'

  /v1/instruments/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ins_[a-zA-Z0-9]+$'
    get:
      tags: [Instruments]
      summary: Retrieve an instrument
      operationId: getInstrument
      description: Return a single instrument by ID.
      responses:
        '200':
          description: Instrument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Instruments]
      summary: Update an instrument
      operationId: updateInstrument
      description: |
        Update the mutable fields on an instrument — `label`, `is_default`, and
        `status`. Credentials cannot be updated; create a new instrument and
        delete the old one to replace them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 255
                is_default:
                  type: boolean
                status:
                  type: string
                  enum: [active, disabled]
                end_user_ip:
                  type: string
                  format: ip
                  description: |
                    The end-user's public IP address for the session that initiated
                    this update. Captured on the audit trail and fed into risk scoring.
                    Must be a valid IPv4 or IPv6 address.
                  example: "203.0.113.42"
      responses:
        '200':
          description: Instrument updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Instruments]
      summary: Delete an instrument
      operationId: deleteInstrument
      description: |
        Soft-delete an instrument. The instrument is removed from active listings
        and cannot be used on new payouts. Historical payouts referencing it
        remain accessible and unchanged.

        An optional JSON body may supply `end_user_ip` — the public IP of the
        end-user session that initiated the delete — for audit and risk. The
        field must be a valid IPv4 or IPv6 address.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
                  format: ip
                  description: |
                    The end-user's public IP address for the session that
                    initiated this deletion. Captured on the audit trail and
                    used as a risk signal. Must be a valid IPv4 or IPv6 address.
                  example: "203.0.113.42"
      responses:
        '204':
          description: Instrument deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/balances:
    get:
      tags: [Balances]
      summary: List all balances
      operationId: listBalances
      description: |
        Return your merchant balance in every currency you hold. Each balance
        distinguishes between `available` (usable for new payouts), `pending`
        (reserved for in-flight payouts), and `total`.
      responses:
        '200':
          description: Balances across all currencies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/balances/{currency}:
    parameters:
      - name: currency
        in: path
        required: true
        description: ISO 4217 currency code (or stablecoin/crypto symbol).
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Balances]
      summary: Retrieve a balance by currency
      operationId: getBalance
      description: Return your merchant balance in a single currency.
      responses:
        '200':
          description: Balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No balance exists for this currency on your account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/accounts:
    get:
      tags: [Accounts]
      summary: List merchant funding accounts
      operationId: listAccounts
      description: |
        Return your virtual funding accounts — one per currency Anton has
        provisioned for you. Used for depositing funds into your merchant
        balance.
      responses:
        '200':
          description: Funding accounts.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MerchantAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/accounts/{currency}:
    parameters:
      - name: currency
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Accounts]
      summary: Retrieve a funding account
      operationId: getAccount
      description: Return the funding account for a single currency.
      responses:
        '200':
          description: Account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`account_not_found`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/accounts/{currency}/details:
    parameters:
      - name: currency
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Accounts]
      summary: Retrieve deposit details
      operationId: getAccountDetails
      description: |
        Return the banking / deposit details for your funding account in this
        currency — IBAN/BIC, sort code + account number, routing codes, etc.
        Share these with the sender to fund your balance.
      responses:
        '200':
          description: Account deposit details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/accounts/{currency}/transactions:
    parameters:
      - name: currency
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Accounts]
      summary: List transactions on a funding account
      operationId: listAccountTransactions
      description: |
        Cursor-paginated list of transactions for this funding account — deposits
        from external parties, payout debits, fee deductions, and FX transfers.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Transactions on this account.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/transactions:
    get:
      tags: [Accounts]
      summary: List transactions across all accounts
      operationId: listTransactions
      description: |
        Cursor-paginated list of transactions across every funding account you
        hold. Only `limit` and `cursor` are honored; server-side filtering by
        currency, type, or time range is not yet supported — filter client-side
        on the returned `MerchantTransaction` objects, or call
        `GET /v1/accounts/{currency}/transactions` to narrow by currency.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Transactions.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/pricing:
    get:
      tags: [Pricing]
      summary: List merchant pricing plans
      operationId: listMerchantPricing
      description: |
        Return the pricing plans active on your merchant account. Plans are
        scoped by currency, country, and method — more specific plans take
        priority.
      responses:
        '200':
          description: Active plans.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PricingPlan'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/pricing/quote:
    post:
      tags: [Pricing]
      summary: Quote a fee for a hypothetical payout
      operationId: createPricingQuote
      description: |
        Preview the fee that would apply for a given source/destination pair
        and amount. Useful for surfacing fees to your end user before they
        confirm a payout.

        **Bindable quotes (v1.0.0).** Every quote response includes a
        `quote_id` (prefix `pq_`) and an `expires_at` timestamp. You can
        bind the exact quoted fee to a subsequent payout by passing the
        `quote_id` on `POST /v1/payouts`. If the quote has expired, been
        already bound to another payout, or the payout's currencies/amount
        don't match the quote, the payout create call returns
        `422 quote_expired` / `422 quote_already_used` / `422 quote_mismatch`.
        Omit `quote_id` on the payout to let the platform re-price at
        submission time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_currency, dest_currency, amount]
              properties:
                source_currency:
                  $ref: '#/components/schemas/CurrencyCode'
                dest_currency:
                  $ref: '#/components/schemas/CurrencyCode'
                dest_country:
                  $ref: '#/components/schemas/CountryCode'
                method:
                  $ref: '#/components/schemas/PayoutMethod'
                amount:
                  $ref: '#/components/schemas/Money'
      responses:
        '200':
          description: Fee quote.
          content:
            application/json:
              schema:
                type: object
                required:
                  - fee
                  - fee_currency
                  - plan_id
                  - quote_id
                  - source_currency
                  - dest_currency
                  - source_amount
                  - dest_amount
                  - rate
                  - total_cost
                  - total_currency
                  - created_at
                  - expires_at
                properties:
                  quote_id:
                    type: string
                    pattern: '^pq_[a-zA-Z0-9]+$'
                    description: Bindable quote identifier. Pass on `POST /v1/payouts` to lock this fee.
                  plan_id:
                    type: string
                    pattern: '^prc_[a-zA-Z0-9]+$'
                  source_currency:
                    $ref: '#/components/schemas/CurrencyCode'
                  dest_currency:
                    $ref: '#/components/schemas/CurrencyCode'
                  source_amount:
                    $ref: '#/components/schemas/Money'
                  dest_amount:
                    $ref: '#/components/schemas/Money'
                  fee:
                    $ref: '#/components/schemas/Money'
                  fee_currency:
                    $ref: '#/components/schemas/CurrencyCode'
                  rate:
                    type: string
                    description: |
                      FX rate applied to produce `dest_amount` from `source_amount`.
                      `"1"` for same-currency quotes. Decimal string.
                  rail_type:
                    $ref: '#/components/schemas/RailType'
                  method:
                    $ref: '#/components/schemas/PayoutMethod'
                  total_cost:
                    allOf:
                      - $ref: '#/components/schemas/Money'
                    description: |
                      `source_amount + fee` when the fee is charged in
                      `source_currency`. Decimal string.
                  total_currency:
                    $ref: '#/components/schemas/CurrencyCode'
                  created_at:
                    $ref: '#/components/schemas/Timestamp'
                  expires_at:
                    $ref: '#/components/schemas/Timestamp'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /v1/corridors:
    get:
      tags: [Corridors]
      summary: List active corridors
      operationId: listCorridors
      description: |
        Return every active payout corridor on your merchant account. A corridor
        is a (rail_type, currency, country, method, network) combination Anton
        can deliver payouts through.

        Use this to validate a (country, currency, method) combination before
        attempting `POST /v1/payouts`. Corridors not listed here will return
        `corridor_not_enabled`.
      parameters:
        - name: rail_type
          in: query
          schema:
            $ref: '#/components/schemas/RailType'
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: country
          in: query
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Active corridors.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Corridor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/webhooks:
    post:
      tags: [Webhooks]
      summary: Create a webhook subscription
      operationId: createWebhookSubscription
      description: |
        Register an HTTPS endpoint to receive event notifications. Anton POSTs
        signed JSON deliveries to the URL you supply every time an event from
        the `events` list fires on your merchant account.

        **Requirements:**
        - The URL must use `https://` (enforced outside development environments).
        - The URL must be publicly reachable — private, loopback, and metadata
          addresses are rejected.

        The response includes a `secret` — this is shown **once at creation**.
        Store it in your secrets manager immediately; Anton cannot recover it
        later. You can rotate the secret any time via
        `POST /v1/webhooks/{id}/secret/rotate`.

        See [Webhook Events](/api-reference/webhook-events) for the event catalog
        and [Webhook Signing](/api-reference/webhook-signing) for verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionCreateRequest'
      responses:
        '201':
          description: Subscription created. Includes the one-time signing secret.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/WebhookSubscription'
                  - type: object
                    properties:
                      secret:
                        type: string
                        description: Signing secret (`whsec_` + 64 hex). Shown once — store it now.
                        example: whsec_0a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef
        '400':
          description: |
            - `webhook_url_required` — `url` missing.
            - `webhook_url_invalid` — `url` is malformed or hostless.
            - `webhook_url_not_https` — HTTP scheme used outside development.
            - `webhook_url_private_address` — URL resolves to a private / loopback / metadata address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [Webhooks]
      summary: List webhook subscriptions
      operationId: listWebhookSubscriptions
      description: |
        Return all webhook subscriptions on your merchant account.

        Subscriptions that have been deleted via `DELETE /v1/webhooks/{id}`
        are soft-deleted and excluded from this list. Their delivery
        history is retained and can be inspected via the deliveries
        endpoint with `include_deleted=true`.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
      responses:
        '200':
          description: List of subscriptions.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/webhooks/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^whk_[a-zA-Z0-9]+$'
    get:
      tags: [Webhooks]
      summary: Retrieve a webhook subscription
      operationId: getWebhookSubscription
      description: |
        Retrieve a single subscription by ID. Subscriptions that have been
        deleted via `DELETE /v1/webhooks/{id}` are soft-deleted and return
        `404 webhook_subscription_not_found` here — they are not visible
        to merchant reads. Delivery history is still accessible via
        `GET /v1/webhooks/events/{id}/deliveries?include_deleted=true`.
      responses:
        '200':
          description: Subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Webhooks]
      summary: Delete a webhook subscription
      operationId: deleteWebhookSubscription
      description: |
        Soft-delete a subscription. The subscription disappears from
        `GET /v1/webhooks` and `GET /v1/webhooks/{id}` (which will return
        404) and will not receive any further event deliveries. The full
        delivery history is preserved for audit retention and can be
        retrieved via `GET /v1/webhooks/events/{id}/deliveries` with
        `include_deleted=true`.

        This endpoint is **idempotent**. Calling `DELETE` on a
        subscription that was never created, or on one that has already
        been deleted, also returns `204 No Content`. Clients can safely
        retry `DELETE` after a timeout without worrying about spurious
        404s.

        Prefer `POST /v1/webhooks/{id}/deactivate` if you may re-enable
        the same subscription later — deactivate is reversible;
        delete is not.
      responses:
        '204':
          description: |
            Subscription is now in the deleted state. Returned whether the
            subscription existed and was freshly deleted, or was already
            deleted, or never existed.
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/webhooks/{id}/secret:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^whk_[a-zA-Z0-9]+$'
    get:
      tags: [Webhooks]
      summary: Retrieve the current signing secret
      operationId: getWebhookSecret
      description: |
        Return the current HMAC signing secret for this subscription. Use this
        if you lost the secret after creation — the endpoint is audited and
        rate-limited for safety.
      responses:
        '200':
          description: Current secret.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [secret]
                    properties:
                      secret:
                        type: string
                        description: '`whsec_` + 64 hex.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/webhooks/{id}/test:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^whk_[a-zA-Z0-9]+$'
    post:
      tags: [Webhooks]
      summary: Send a test delivery
      operationId: testWebhookSubscription
      description: |
        Dispatch a synthetic `test` event to this subscription right now. Useful
        for verifying signature verification, network reachability, and logging
        pipelines without waiting for a real event.

        Rate-limited.
      responses:
        '202':
          description: |
            Test event queued for delivery. The response contains the full
            `WebhookEvent` envelope — ID, type, timestamp, and the
            synthetic payload — so the caller can correlate the queued
            event with the delivery that arrives at the endpoint shortly
            after.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/WebhookEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/webhooks/{id}/deactivate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^whk_[a-zA-Z0-9]+$'
    post:
      tags: [Webhooks]
      summary: Deactivate a webhook subscription
      operationId: deactivateWebhookSubscription
      description: |
        Stop delivering events to this subscription without deleting it. The
        subscription moves to `inactive` and stops receiving further
        deliveries. To re-enable a subscription later, contact support —
        there is no public reactivation endpoint. If you expect to
        re-enable an endpoint programmatically, prefer creating a fresh
        subscription over deactivating the existing one.
      responses:
        '200':
          description: Subscription deactivated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/webhooks/events:
    get:
      tags: [Webhooks]
      summary: List webhook events
      operationId: listWebhookEvents
      description: |
        Return the history of webhook events generated on your merchant account.
        Events persist independently of delivery — you can inspect and replay
        them via `/deliveries` below.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/WebhookEventType'
        - name: created_after
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of events.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/webhooks/events/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^evt_[a-zA-Z0-9]+$'
    get:
      tags: [Webhooks]
      summary: Retrieve a webhook event
      operationId: getWebhookEvent
      responses:
        '200':
          description: Event with full payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/webhooks/events/{id}/deliveries:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^evt_[a-zA-Z0-9]+$'
    get:
      tags: [Webhooks]
      summary: List deliveries for an event
      operationId: listWebhookDeliveries
      description: |
        Return every attempt Anton made to deliver this event to every
        subscribed endpoint. Each attempt records the request headers, response
        status, body, duration, and retry schedule — useful for debugging
        failing integrations.

        By default, deliveries that targeted a subscription which has
        since been deleted (`DELETE /v1/webhooks/{id}`) are excluded
        from this list. Pass `include_deleted=true` to include them —
        useful when auditing historical delivery activity from a
        subscription you have since removed.
      parameters:
        - name: include_deleted
          in: query
          required: false
          description: |
            When `true`, include deliveries whose target subscription
            has been soft-deleted. Accepts standard boolean values
            (`true`/`false`, `1`/`0`). Defaults to `false`.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Delivery history.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/merchant/sandbox/reset:
    post:
      tags: [Sandbox]
      summary: Reset your sandbox environment
      operationId: resetSandbox
      description: |
        Wipe sandbox data scoped to your merchant and optionally reseed. Only
        available in sandbox environments; returns `403 sandbox_only` elsewhere.

        Rate-limited to 10 resets per merchant per hour.

        **Scopes:**
        - `balances` (default) — reset currency balances. Beneficiaries, payouts,
          and instruments are preserved.
        - `all` — wipe payouts, instruments, beneficiaries, and sandbox
          transactions; re-seed currency balances only.
        - `delete-all` — wipe everything. No reseed; you land at zero state.
        - `full-reset` — wipe everything and re-seed balances + sample
          beneficiaries + sample payouts. Equivalent to a fresh merchant with
          demo data.
      parameters:
        - name: scope
          in: query
          description: What to wipe and whether to re-seed.
          schema:
            type: string
            enum: [balances, all, delete-all, full-reset]
            default: balances
      responses:
        '200':
          description: Reset complete.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [reset, deleted, cleaned]
                    description: |
                      Outcome of the reset. Varies by `scope`:
                      - `reset` — balances re-seeded (`scope=balances` or `scope=full-reset`)
                      - `cleaned` — everything wiped and balances re-seeded (`scope=all`)
                      - `deleted` — everything wiped without re-seed (`scope=delete-all`)
                  scope:
                    type: string
                  merchant_id:
                    type: string
                  beneficiaries:
                    type: integer
                    description: |
                      Sample beneficiaries re-seeded. Only populated when
                      `scope=full-reset`; omitted otherwise.
                    example: 4
                  instruments:
                    type: integer
                    description: |
[...]
