openapi: 3.1.0

info:
  title: Anton Payments API
  version: 1.0.0-beta
  summary: Cross-border payout infrastructure. Fiat, stablecoin, and crypto.
  description: |
    The Anton Payments merchant API. Versioned, idempotent, cursor-paginated.

    - Authentication: bearer API key in the `Authorization` header.
    - Base URLs: `https://api.antonpayments.com` (production), `https://api.antonpayments.dev` (sandbox).
    - Monetary amounts are decimal strings. Never floats.
    - Timestamps are RFC 3339 UTC.
    - All mutating endpoints support the `Idempotency-Key` header.

    See the Cross-Cutting section of the docs for idempotency, pagination, rate limits, errors, webhook events, and webhook signing.
  contact:
    name: Anton Payments Support
    url: https://help.antonpayments.com
  license:
    name: Proprietary
    url: https://www.antonpayments.com

servers:
  - url: https://api.antonpayments.com
    description: Production
  - url: https://api.antonpayments.dev
    description: Sandbox

security:
  - bearerAuth: []

tags:
  - name: Reference Data
    description: Currencies, countries, and supported payment methods.
  - name: Beneficiaries
    description: Create and manage the people and businesses you pay.
  - name: Instruments
    description: Payment instruments attached to beneficiaries — bank accounts, wallets, cards.
  - name: Payouts
    description: Initiate and track payouts.
  - name: Batches
    description: CSV-driven bulk payout processing.
  - name: Balances
    description: Merchant balance by currency.
  - name: Accounts
    description: Virtual accounts for merchant funding.
  - name: Webhooks
    description: Subscribe to event notifications.
  - name: Documents
    description: Upload and manage KYB and supporting documents.
  - name: RFIs
    description: Respond to Requests for Information raised during review.
  - name: Pricing
    description: Read merchant pricing plans and quote fees.
  - name: FX
    description: Quote, lock, and execute currency exchanges between balances.
  - name: Corridors
    description: Active cross-border corridors for your merchant.
  - name: Sandbox
    description: Reset and seed your sandbox environment.

paths:
  /v1/currencies:
    get:
      tags: [Reference Data]
      summary: List supported currencies
      operationId: listCurrencies
      description: |
        Return every currency Anton supports, across fiat, crypto, and stablecoin.
        Use these codes when building payout or FX requests.
      security: []
      responses:
        '200':
          description: Supported currencies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
              example:
                data:
                  - code: USD
                    name: US Dollar
                    decimals: 2
                    symbol: "$"
                    type: fiat
                  - code: USDC
                    name: USD Coin
                    decimals: 6
                    symbol: USDC
                    type: stablecoin

  /v1/countries:
    get:
      tags: [Reference Data]
      summary: List supported countries
      operationId: listCountries
      description: |
        Return every destination country Anton can deliver payouts to, along with
        the currencies each country supports.
      security: []
      responses:
        '200':
          description: Supported countries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'

  /v1/payment-methods:
    get:
      tags: [Reference Data]
      summary: List supported payment methods
      operationId: listPaymentMethods
      description: |
        Return the catalog of payment-method descriptors — each row is a credential
        format (IBAN, UK bank, US bank, IPX proxies, crypto, card, mobile money)
        with the countries where it's supported.

        Use this endpoint to drive dynamic instrument-creation UI: pick a country,
        filter to supported methods, prompt for the right credential fields.
      security: []
      responses:
        '200':
          description: Supported payment methods.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethodDescriptor'

  /v1/beneficiaries:
    post:
      tags: [Beneficiaries]
      summary: Create a beneficiary
      operationId: createBeneficiary
      description: |
        Create a person (`individual`) or business (`business`) you want to pay. PII
        submitted in the request body is tokenized in Basis Theory on creation — only
        a display name, country, and opaque token reference are stored in the Anton
        database.

        To retrieve the PII you submitted, use `GET /v1/beneficiaries/{id}/pii`.

        This endpoint requires an `Idempotency-Key` header. Duplicate calls with the
        same key return the original beneficiary; different bodies with the same key
        return `409 idempotency_conflict`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryCreateRequest'
            examples:
              individual:
                summary: Individual beneficiary
                value:
                  type: individual
                  country: GB
                  external_ref: contractor-1042
                  individual:
                    first_name: Jane
                    last_name: Smith
                    email: jane@example.com
                    phone: "+442079460000"
                    date_of_birth: "1988-05-12"
                    nationality: GB
                    address:
                      street_line_1: 10 Example Street
                      city: London
                      postal_code: SW1A 1AA
                      country: GB
              business:
                summary: Business beneficiary
                value:
                  type: business
                  country: DE
                  business:
                    legal_name: Example GmbH
                    registration_number: HRB12345
                    email: ap@example.de
                    phone: "+493012345678"
                    entity_type: llc
                    incorporation_country: DE
                    address:
                      street_line_1: Beispielstraße 1
                      city: Berlin
                      postal_code: "10115"
                      country: DE
      responses:
        '201':
          description: Beneficiary created.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Idempotent-Replayed:
              $ref: '#/components/headers/X-Idempotent-Replayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '400':
          $ref: '#/components/responses/IdempotencyConflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Beneficiaries]
      summary: List beneficiaries
      operationId: listBeneficiaries
      description: |
        List beneficiaries scoped to your merchant. Results are cursor-paginated and
        sorted by creation time descending.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Filter by beneficiary status.
          required: false
          schema:
            type: string
            enum: [active, archived, blocked]
        - name: type
          in: query
          description: Filter by beneficiary type.
          required: false
          schema:
            type: string
            enum: [individual, business]
        - name: country
          in: query
          description: Filter by ISO-3166 alpha-2 country code.
          required: false
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Paginated list of beneficiaries.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Beneficiary ID (prefixed `ben_`).
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
          example: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
    get:
      tags: [Beneficiaries]
      summary: Retrieve a beneficiary
      operationId: getBeneficiary
      description: Return a single beneficiary by ID. Returns `404` if the beneficiary does not exist or belongs to a different merchant.
      responses:
        '200':
          description: Beneficiary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Beneficiaries]
      summary: Update a beneficiary
      operationId: updateBeneficiary
      description: |
        Update mutable fields on a beneficiary: `display_name`, `country`, `external_ref`,
        and `metadata`. PII cannot be updated via this endpoint — use
        `PUT /v1/beneficiaries/{id}/pii` instead, since PII is tokenized.

        Fields not present in the request body are left unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryUpdateRequest'
      responses:
        '200':
          description: Beneficiary updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Beneficiaries]
      summary: Delete a beneficiary
      operationId: deleteBeneficiary
      description: |
        Soft-deletes a beneficiary. The record is removed from active listings and
        can no longer be used to initiate new payouts. Historical payouts referencing
        this beneficiary remain unchanged and accessible.

        Archiving is typically preferred over deletion — see
        `POST /v1/beneficiaries/{id}/archive`. Archiving preserves the beneficiary
        in a disabled state that can be restored later.
      responses:
        '204':
          description: Beneficiary deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/pii:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    get:
      tags: [Beneficiaries]
      summary: Retrieve beneficiary PII
      operationId: getBeneficiaryPII
      description: |
        Detokenizes and returns the PII stored in Basis Theory for this beneficiary.
        Every access is recorded in the merchant audit log (PCI DSS 10.2.1).

        Use this to pre-populate edit forms or verify submitted identity data.
      responses:
        '200':
          description: Beneficiary PII, detokenized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryPII'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Beneficiaries]
      summary: Replace beneficiary PII
      operationId: updateBeneficiaryPII
      description: |
        Replaces the PII stored in Basis Theory for this beneficiary. The entire PII
        blob is replaced — partial updates are not supported, because tokens are
        immutable.

        Supply the detail block matching the beneficiary's `type` (`individual` or
        `business`). The `display_name` on the beneficiary record is automatically
        re-derived from the new PII.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryPIIUpdateRequest'
      responses:
        '200':
          description: Beneficiary PII replaced. Returns the updated beneficiary record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/archive:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Archive a beneficiary
      operationId: archiveBeneficiary
      description: |
        Soft-disables a beneficiary. The record is preserved and can be restored later,
        but it cannot be used to initiate new payouts while archived. PII remains
        tokenized and accessible.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
                  description: IP address of the merchant's end-user who initiated this action.
      responses:
        '200':
          description: Beneficiary archived. Returns the updated record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/restore:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Restore an archived beneficiary
      operationId: restoreBeneficiary
      description: |
        Restores a previously archived beneficiary to active status. Beneficiaries
        blocked by compliance cannot be restored via this endpoint — contact support.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Beneficiary restored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts:
    post:
      tags: [Payouts]
      summary: Create a payout
      operationId: createPayout
      description: |
        Initiate a payout from your merchant balance to a beneficiary's payment
        instrument. The payout goes through compliance screening, velocity
        evaluation, and engine risk scoring before being submitted to a rail — see
        [How Anton Evaluates Payouts](/how-anton-evaluates-payouts) for the full
        lifecycle.

        The initial status is `created`. The payout transitions to
        `pending_screening` within moments and its subsequent state changes are
        delivered via `payout.*` webhook events. Do not poll.

        Both `source_amount` and `dest_amount` must be provided along with
        `fixed_side` (`fixed_source` or `fixed_dest`) indicating which amount is
        authoritative. The other amount is recomputed on the backend using the
        current corridor pricing. An FX quote may be locked via `POST /v1/fx/quote`
        if you need rate certainty before submission.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCreateRequest'
            examples:
              same_currency:
                summary: Same-currency USD payout
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
                  source_amount: "500.00"
                  source_currency: USD
                  dest_amount: "500.00"
                  dest_currency: USD
                  method: ach
                  rail_type: fiat
                  fixed_side: fixed_dest
                  purpose: contractor_payment
                  reference: INV-1042
              cross_currency:
                summary: USD -> EUR SEPA
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
                  source_amount: "550.00"
                  source_currency: USD
                  dest_amount: "500.00"
                  dest_currency: EUR
                  method: sepa
                  rail_type: fiat
                  fee_bearer: merchant
                  fixed_side: fixed_dest
                  purpose: supplier_payment
                  reference: PO-8821
              stablecoin:
                summary: USDC on Ethereum
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA3
                  source_amount: "1000.00"
                  source_currency: USDC
                  dest_amount: "1000.00"
                  dest_currency: USDC
                  method: stablecoin
                  rail_type: stablecoin
                  fixed_side: fixed_dest
                  purpose: contractor_payment
                  reference: INV-1042
      responses:
        '201':
          description: Payout created. Subsequent lifecycle is reported via webhooks.
          headers:
            X-Idempotent-Replayed:
              $ref: '#/components/headers/X-Idempotent-Replayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — common causes include merchant not approved, corridor not enabled, or velocity rule blocking (`velocity_blocked`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Beneficiary or instrument not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          description: |
            Unprocessable — validation failed, insufficient balance, or beneficiary/
            instrument not eligible (e.g. archived, disabled, wrong currency).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorEnvelope'
                  - $ref: '#/components/schemas/ValidationErrorEnvelope'
              examples:
                insufficient_balance:
                  value:
                    error:
                      code: insufficient_balance
                      message: insufficient funds for this payout
                validation:
                  value:
                    error:
                      code: validation_error
                      message: request failed validation
                      details:
                        - field: dest_currency
                          message: must be a valid ISO-4217 currency code
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Payouts]
      summary: List payouts
      operationId: listPayouts
      description: |
        Cursor-paginated list of payouts for your merchant, sorted by `created_at`
        descending.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Filter by one or more statuses. Repeat the param to pass multiple values.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PayoutStatus'
          style: form
          explode: true
        - name: beneficiary_id
          in: query
          schema:
            type: string
            pattern: '^ben_[a-zA-Z0-9]+$'
        - name: instrument_id
          in: query
          schema:
            type: string
            pattern: '^ins_[a-zA-Z0-9]+$'
        - name: batch_id
          in: query
          schema:
            type: string
            pattern: '^bat_[a-zA-Z0-9]+$'
        - name: dest_currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: reference
          in: query
          description: Exact-match filter on the merchant's `reference` field.
          schema:
            type: string
        - name: created_after
          in: query
          description: RFC 3339 timestamp. Returns payouts with `created_at >= this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          description: RFC 3339 timestamp. Returns payouts with `created_at < this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of payouts.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Payout ID (prefixed `pay_`).
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
          example: pay_01HX8Z9K0M2N3P4Q5R6S7T8UAB
    get:
      tags: [Payouts]
      summary: Retrieve a payout
      operationId: getPayout
      description: Return a single payout by ID. Returns `404` if the payout does not exist or belongs to a different merchant.
      responses:
        '200':
          description: Payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/events:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    get:
      tags: [Payouts]
      summary: List lifecycle events for a payout
      operationId: listPayoutEvents
      description: |
        Return every status transition recorded for this payout, oldest first. Use
        this to reconstruct a payout's timeline for support, accounting, or
        debugging purposes. Note: the preferred way to react to events in real time
        is via webhook subscriptions — polling this endpoint wastes rate-limit
        budget.
      responses:
        '200':
          description: Lifecycle events.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayoutEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    post:
      tags: [Payouts]
      summary: Cancel a payout
      operationId: cancelPayout
      description: |
        Cancel a payout that has not yet been submitted to a rail. Cancellation is
        only possible from `created`, `pending_screening`, `pending_approval`,
        `pending_engine_review`, or `manual_review`. Once a payout reaches
        `processing` or beyond, it cannot be cancelled via the API — contact
        support if you need to halt a payout in flight.

        Any debited source funds (source amount, fee, and cross-currency buffer)
        are released back to the merchant balance on successful cancellation.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Free-form reason for cancellation. Recorded in the audit log.
                  maxLength: 255
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Payout cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Payout is not in a cancellable state, or idempotency conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/instruments:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    get:
      tags: [Instruments]
      summary: List a beneficiary's instruments
      operationId: listInstrumentsForBeneficiary
      description: Return all payment instruments attached to this beneficiary.
      responses:
        '200':
          description: List of instruments for the beneficiary.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags: [Instruments]
      summary: Create an instrument for a beneficiary
      operationId: createInstrumentForBeneficiary
      description: |
        Attach a payment instrument to a beneficiary. The credentials you submit
        (bank account numbers, wallet addresses, card PANs) are tokenized in Basis
        Theory on receipt — Anton's core database stores only a token reference, a
        display-only masked value, and a content fingerprint used for cross-merchant
        deduplication.

        The request body shape depends on the `method` — each method has a distinct
        credential schema. See the [Instruments methods endpoint](#tag/Reference-Data/operation/listPaymentMethods)
        for the full per-country method catalog.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentCreateRequest'
      responses:
        '201':
          description: Instrument created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches/template:
    get:
      tags: [Batches]
      summary: Download the batch CSV template
      operationId: downloadBatchTemplate
      description: |
        Returns a ready-to-fill CSV template with the canonical header row and a
        handful of example rows. Use this to anchor your batch format — column
        order and casing matter.
      responses:
        '200':
          description: CSV template.
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches:
    post:
      tags: [Batches]
      summary: Upload a batch
      operationId: uploadBatch
      description: |
        Upload a batch file (CSV or XLSX) containing many payout rows. The file
        is stored, hashed for duplicate detection, and queued for asynchronous
        validation. The response returns the batch in `uploaded` status; the
        status transitions to `validating`, then `validated` (or
        `validation_failed`) via webhook.

        After `validated`, review `GET /v1/batches/{id}` and the summary, then
        call `POST /v1/batches/{id}/confirm` to actually create the payouts.
        Confirmation expires — see `expires_at` on the batch record.

        Maximum file size: 32 MB. Maximum rows per batch: check current limits
        with support.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV or XLSX file. Filename is preserved.
      responses:
        '201':
          description: Batch accepted and queued for validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          description: Malformed upload — missing file, empty file, or unsupported format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: '`duplicate_file` — a batch with this exact file hash was uploaded in the last 24 hours.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '413':
          description: '`file_too_large` — file exceeds the 32 MB limit.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [Batches]
      summary: List batches
      operationId: listBatches
      description: Cursor-paginated list of batches for your merchant.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BatchStatus'
      responses:
        '200':
          description: Paginated list of batches.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/batches/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: Retrieve a batch
      operationId: getBatch
      description: Return a single batch, including its validation summary (when available).
      responses:
        '200':
          description: Batch record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/batches/{id}/confirm:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    post:
      tags: [Batches]
      summary: Confirm a validated batch
      operationId: confirmBatch
      description: |
        Confirm a batch for processing. Only batches in `validated` status can be
        confirmed; the batch moves to `confirmed` and then `processing` as payouts
        are created from valid rows.

        Confirmation is irrevocable — once a batch is `confirmed`, individual
        payouts can still be cancelled (`POST /v1/payouts/{id}/cancel`) up until
        they're submitted to a rail, but the batch itself proceeds.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                source_currency:
                  $ref: '#/components/schemas/CurrencyCode'
                  description: Override the default funding currency for rows that don't specify one.
      responses:
        '200':
          description: Batch confirmed and queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            - `batch_not_validated` — batch is not in `validated` status.
            - `batch_confirmation_expired` — the batch's `expires_at` has passed; re-upload the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    post:
      tags: [Batches]
      summary: Cancel a batch
      operationId: cancelBatch
      description: |
        Cancel a batch before processing begins. Valid from `uploaded`,
        `validating`, `validated`, `validation_failed`, or `confirmed`. Once
        `processing` begins, use per-payout cancellation instead.
      responses:
        '200':
          description: Batch cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: '`batch_not_cancellable` — batch is already in a terminal state or is actively processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/payouts:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List payouts created from a batch
      operationId: listBatchPayouts
      description: |
        Cursor-paginated list of payouts created by processing this batch. Row
        order in the original file is preserved in the response.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Payouts created by this batch.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/batches/{id}/errors:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List validation errors and warnings for a batch
      operationId: listBatchErrors
      description: |
        Return the row-level validation errors and warnings produced during the
        `validating` phase. Each error or warning carries the row number and
        field it applies to so you can point the merchant back to their source
        file.
      responses:
        '200':
          description: Errors and warnings keyed by row.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchError'
                      warnings:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/batches/{id}/results:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List per-row processing results
      operationId: listBatchResults
      description: |
        Return the per-row outcome of `processing`. For each original row you
        get the row number, outcome (`success`, `failed`, `skipped`, `pending`),
        the created `payout_id` (if any), and a human-readable reason for any
        non-success outcome.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Per-row results.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchRowResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/instruments:
    get:
      tags: [Instruments]
      summary: List instruments
      operationId: listInstruments
      description: |
        List payment instruments across all beneficiaries in your merchant scope.
        Use the `beneficiary_id` filter to narrow to a single beneficiary (or call
        `GET /v1/beneficiaries/{id}/instruments`, which returns the same result).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: beneficiary_id
          in: query
          schema:
            type: string
            pattern: '^ben_[a-zA-Z0-9]+$'
        - name: method
          in: query
          schema:
            $ref: '#/components/schemas/PaymentMethodCode'
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: country
          in: query
          schema:
            $ref: '#/components/schemas/CountryCode'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, disabled]
      responses:
        '200':
          description: Paginated list of instruments.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/instruments/countries:
    get:
      tags: [Instruments]
      summary: List countries available for instrument creation
      operationId: listInstrumentCountries
      description: |
        Lightweight country list scoped to the countries Anton can deliver
        payouts to. Use this to populate country dropdowns in an instrument-
        creation form — paired with `/v1/instruments/methods` to build the
        full method picker.

        For the full reference catalog (including IS3 codes and currency
        lists), use `/v1/countries` instead.
      responses:
        '200':
          description: Supported instrument countries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [iso2, name]
                      properties:
                        iso2:
                          $ref: '#/components/schemas/CountryCode'
                        name:
                          type: string

  /v1/instruments/methods:
    get:
      tags: [Instruments]
      summary: List payment-method schemas per country
      operationId: listInstrumentMethods
      description: |
        Return the per-country method catalog with the exact credential-field
        schema required for each method. Use this to drive dynamic instrument-
        creation forms that know which fields to prompt for based on the
        selected country and method.
      parameters:
        - name: country
          in: query
          description: Filter to methods available in a specific country.
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Per-country method schemas.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentMethodSchema'

  /v1/instruments/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ins_[a-zA-Z0-9]+$'
    get:
      tags: [Instruments]
      summary: Retrieve an instrument
      operationId: getInstrument
      description: Return a single instrument by ID.
      responses:
        '200':
          description: Instrument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Instruments]
      summary: Update an instrument
      operationId: updateInstrument
      description: |
        Update the mutable fields on an instrument — `label`, `is_default`, and
        `status`. Credentials cannot be updated; create a new instrument and
        delete the old one to replace them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 255
                is_default:
                  type: boolean
                status:
                  type: string
                  enum: [active, disabled]
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Instrument updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Instruments]
      summary: Delete an instrument
      operationId: deleteInstrument
      description: |
        Soft-delete an instrument. The instrument is removed from active listings
        and cannot be used on new payouts. Historical payouts referencing it
        remain accessible and unchanged.
      responses:
        '204':
          description: Instrument deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/balances:
    get:
      tags: [Balances]
      summary: List all balances
      operationId: listBalances
      description: |
        Return your merchant balance in every currency you hold. Each balance
        distinguishes between `available` (usable for new payouts), `pending`
        (reserved for in-flight payouts), and `total`.
      responses:
        '200':
          description: Balances across all currencies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/balances/{currency}:
    parameters:
      - name: currency
        in: path
        required: true
        description: ISO 4217 currency code (or stablecoin/crypto symbol).
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Balances]
      summary: Retrieve a balance by currency
      operationId: getBalance
      description: Return your merchant balance in a single currency.
      responses:
        '200':
          description: Balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No balance exists for this currency on your account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/corridors:
    get:
      tags: [Corridors]
      summary: List active corridors
      operationId: listCorridors
      description: |
        Return every active payout corridor on your merchant account. A corridor
        is a (rail_type, currency, country, method, network) combination Anton
        can deliver payouts through.

        Use this to validate a (country, currency, method) combination before
        attempting `POST /v1/payouts`. Corridors not listed here will return
        `corridor_not_enabled`.
      parameters:
        - name: rail_type
          in: query
          schema:
            $ref: '#/components/schemas/RailType'
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: country
          in: query
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Active corridors.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Corridor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/merchant/sandbox/reset:
    post:
      tags: [Sandbox]
      summary: Reset your sandbox environment
      operationId: resetSandbox
      description: |
        Wipe sandbox data scoped to your merchant and optionally reseed. Only
        available in sandbox environments; returns `403 sandbox_only` elsewhere.

        Rate-limited to 10 resets per merchant per hour.

        **Scopes:**
        - `balances` (default) — reset currency balances. Beneficiaries, payouts,
          and instruments are preserved.
        - `all` — wipe payouts, instruments, beneficiaries, and sandbox
          transactions; re-seed currency balances only.
        - `delete-all` — wipe everything. No reseed; you land at zero state.
        - `full-reset` — wipe everything and re-seed balances + sample
          beneficiaries + sample payouts. Equivalent to a fresh merchant with
          demo data.
      parameters:
        - name: scope
          in: query
          description: What to wipe and whether to re-seed.
          schema:
            type: string
            enum: [balances, all, delete-all, full-reset]
            default: balances
      responses:
        '200':
          description: Reset complete.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [reset, deleted]
                  scope:
                    type: string
                  merchant_id:
                    type: string
        '400':
          description: '`invalid_scope` — the `scope` query parameter is not one of the accepted values.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: '`sandbox_only` — not available in the current environment.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/merchant/sandbox/seed-beneficiaries:
    post:
      tags: [Sandbox]
      summary: Seed sample beneficiaries
      operationId: seedSampleBeneficiaries
      description: |
        Create a curated set of sample beneficiaries across multiple countries
        and payment methods. Useful as CI fixtures or demo data. Sandbox only.
      responses:
        '200':
          description: Beneficiaries seeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: seeded
                  created_count:
                    type: integer
                    example: 12
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: '`sandbox_only`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/merchant/sandbox/seed-payouts:
    post:
      tags: [Sandbox]
      summary: Seed sample payouts
      operationId: seedSamplePayouts
      description: |
        Create a mix of sample payouts across different statuses (pending,
        completed, failed, cancelled, manual_review) for UI, webhook, and
        integration testing. Sandbox only. Requires seeded beneficiaries — call
        `POST /v1/merchant/sandbox/seed-beneficiaries` first if your sandbox is
        empty.
      responses:
        '200':
          description: Payouts seeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: seeded
                  created_count:
                    type: integer
                    example: 30
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: '`sandbox_only`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`no_beneficiaries` — seed beneficiaries before payouts.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API keys are opaque strings prefixed by environment:
        - `ak_live_*` — production keys, accepted only on `api.antonpayments.com`.
        - `ak_test_*` — sandbox keys, accepted only on `api.antonpayments.dev`.

        Include your key in the `Authorization` header: `Bearer ak_test_...`.

  parameters:
    Limit:
      name: limit
      in: query
      description: Items per page. Maximum 100.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      description: Opaque cursor returned by a previous list response. Omit for the first page.
      required: false
      schema:
        type: string
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: |
        Unique key identifying this operation. Sending the same key twice returns the original
        response instead of creating a duplicate. Keys are retained for 24 hours.
      required: true
      schema:
        type: string
        maxLength: 255

  headers:
    X-Request-ID:
      description: Opaque request identifier. Include when contacting support.
      schema:
        type: string
    X-RateLimit-Limit:
      description: Maximum requests permitted in the current window.
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Requests remaining in the current window.
      schema:
        type: integer
    X-RateLimit-Reset:
      description: Unix timestamp when the current window resets.
      schema:
        type: integer
    Retry-After:
      description: Seconds to wait before retrying. Included on 429 responses.
      schema:
        type: integer
    X-Idempotent-Replayed:
      description: '`true` when the response is a replay of a previous request with the same `Idempotency-Key`.'
      schema:
        type: string
        enum: ["true"]

  responses:
    Unauthorized:
      description: Missing or invalid API key, or key used against the wrong environment.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          examples:
            missing_key:
              summary: Missing bearer token
              value:
                error:
                  code: unauthorized
                  message: missing or invalid credentials
            wrong_environment:
              summary: Test key used against production
              value:
                error:
                  code: key_environment_mismatch
                  message: this API key is not valid for this environment
    Forbidden:
      description: Authenticated, but not permitted for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    NotFound:
      description: The resource does not exist, or belongs to a different merchant.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    ValidationFailed:
      description: The request body failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorEnvelope'
    IdempotencyConflict:
      description: The same `Idempotency-Key` was previously used with a different request body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: Rate limit exceeded. See `Retry-After`.
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    InternalError:
      description: Something went wrong on our end.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

  schemas:
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [message]
          properties:
            message:
              type: string
              description: Human-readable description of what went wrong.
            code:
              type: string
              description: Machine-readable error code. Branch on this, not on `message`.
              example: insufficient_balance
      example:
        error:
          message: insufficient funds for this payout
          code: insufficient_balance

    ValidationErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [message, code]
          properties:
            message:
              type: string
              example: request failed validation
            code:
              type: string
              enum: [validation_error]
            details:
              type: array
              description: Field-level validation errors.
              items:
                type: object
                required: [field, message]
                properties:
                  field:
                    type: string
                    description: Dotted JSON path to the offending field.
                    example: individual.date_of_birth
                  message:
                    type: string
                    example: must be in YYYY-MM-DD format
      example:
        error:
          message: request failed validation
          code: validation_error
          details:
            - field: individual.first_name
              message: is required
            - field: country
              message: must be a valid ISO-3166 alpha-2 country code

    CursorList:
      type: object
      required: [data, has_more]
      properties:
        data:
          type: array
          items: {}
          description: Array of results for this page. Element schema varies by endpoint.
        has_more:
          type: boolean
          description: Whether more results exist beyond this page.
        next_cursor:
          type: string
          description: Cursor for the next page. Present only when `has_more` is `true`.

    Money:
      type: string
      description: Decimal amount as a string, never a float. Up to 12 whole digits.
      pattern: '^-?\d{1,12}(\.\d+)?$'
      example: "1234.56"

    CurrencyCode:
      type: string
      description: ISO 4217 three-letter currency code.
      pattern: '^[A-Z]{3}$'
      example: USD

    CountryCode:
      type: string
      description: ISO 3166-1 alpha-2 country code.
      pattern: '^[A-Z]{2}$'
      example: US

    Timestamp:
      type: string
      format: date-time
      description: RFC 3339 / ISO 8601 timestamp in UTC.
      example: "2026-04-15T14:30:00Z"

    # ---------------------------------------------------------------------
    # Resource schemas — scaffolded, filled in per-endpoint.
    # TODO: populate full property lists as each endpoint group is written.
    # ---------------------------------------------------------------------

    Address:
      type: object
      required: [street_line_1, city, postal_code, country]
      properties:
        street_line_1:
          type: string
          example: 10 Example Street
        street_line_2:
          type: string
          example: Apt 4B
        city:
          type: string
          example: London
        state:
          type: string
          description: State, province, or region. Required in some countries (e.g. US, CA, AU).
          example: Greater London
        postal_code:
          type: string
          example: SW1A 1AA
        country:
          $ref: '#/components/schemas/CountryCode'

    IndividualDetails:
      type: object
      required: [first_name, last_name, email, phone, date_of_birth, nationality, address]
      description: PII for an `individual` beneficiary. Tokenized on creation.
      properties:
        first_name:
          type: string
          example: Jane
        middle_name:
          type: string
          example: R
        last_name:
          type: string
          example: Smith
        email:
          type: string
          format: email
          example: jane@example.com
        phone:
          type: string
          description: E.164-formatted phone number.
          example: "+442079460000"
        date_of_birth:
          type: string
          description: YYYY-MM-DD.
          pattern: '^\d{4}-\d{2}-\d{2}$'
          example: "1988-05-12"
        nationality:
          $ref: '#/components/schemas/CountryCode'
        address:
          $ref: '#/components/schemas/Address'

    BusinessDetails:
      type: object
      required: [legal_name, registration_number, email, phone, address]
      description: PII for a `business` beneficiary. Tokenized on creation.
      properties:
        legal_name:
          type: string
          example: Example GmbH
        trading_name:
          type: string
          description: Name the business trades as, if different from legal name.
          example: Example
        registration_number:
          type: string
          example: HRB12345
        tax_id:
          type: string
          example: DE123456789
        entity_type:
          type: string
          description: Legal entity form.
          enum: [llc, corporation, partnership, sole_proprietorship, trust, other]
        incorporation_country:
          $ref: '#/components/schemas/CountryCode'
        incorporation_date:
          type: string
          description: YYYY-MM-DD.
          pattern: '^\d{4}-\d{2}-\d{2}$'
        email:
          type: string
          format: email
        phone:
          type: string
          description: E.164-formatted phone number.
          example: "+493012345678"
        website:
          type: string
          format: uri
          example: https://example.de
        address:
          $ref: '#/components/schemas/Address'

    BeneficiaryCreateRequest:
      type: object
      required: [type, country]
      description: |
        Create a beneficiary. Supply exactly one of `individual` or `business` matching
        the declared `type`.
      properties:
        type:
          type: string
          enum: [individual, business]
          description: Whether this beneficiary is a person or a business.
        country:
          $ref: '#/components/schemas/CountryCode'
        external_ref:
          type: string
          description: Your own reference for this beneficiary. Stored as-is, not validated.
          maxLength: 255
          example: contractor-1042
        metadata:
          type: object
          description: Arbitrary string map of your own labels. Stored as-is.
          additionalProperties:
            type: string
          example:
            department: engineering
            cost_center: "4421"
        individual:
          $ref: '#/components/schemas/IndividualDetails'
        business:
          $ref: '#/components/schemas/BusinessDetails'
        end_user_ip:
          type: string
          description: |
            IP address of the merchant's end-user who initiated this action. Used for
            risk signals. Accepts IPv4 or IPv6. Optional but recommended.
          example: 203.0.113.42

    Beneficiary:
      type: object
      description: |
        A person or business you pay. PII is tokenized in Basis Theory on creation —
        raw identifiers are never returned in this response. Use
        `GET /v1/beneficiaries/{id}/pii` to retrieve detokenized PII for a
        beneficiary you own.
      required: [id, merchant_id, type, status, display_name, country, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
          example: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
        merchant_id:
          type: string
          pattern: '^mer_[a-zA-Z0-9]+$'
        type:
          type: string
          enum: [individual, business]
        status:
          type: string
          enum: [active, archived, blocked]
          description: |
            - `active` — usable for payouts.
            - `archived` — soft-disabled by the merchant; not usable. Can be restored.
            - `blocked` — blocked by compliance. Not usable and cannot be restored via the API.
        display_name:
          type: string
          description: |
            Derived from the tokenized PII on creation. For individuals, a concatenation
            of name fields; for businesses, the legal name.
          example: Jane Smith
        country:
          $ref: '#/components/schemas/CountryCode'
        external_ref:
          type: string
          nullable: true
          description: Your own reference, if you supplied one at creation.
        metadata:
          type: object
          additionalProperties:
            type: string
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
      example:
        id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
        merchant_id: mer_01HX8Z9K0M2N3P4Q5R6S7T8UZZ
        type: individual
        status: active
        display_name: Jane Smith
        country: GB
        external_ref: contractor-1042
        metadata:
          department: engineering
        created_at: "2026-04-15T14:30:00Z"
        updated_at: "2026-04-15T14:30:00Z"

    Currency:
      type: object
      required: [code, name, decimals, type]
      properties:
        code:
          $ref: '#/components/schemas/CurrencyCode'
        name:
          type: string
          example: US Dollar
        decimals:
          type: integer
          description: Number of decimal places the currency supports. USD=2, JPY=0, BTC=8.
          example: 2
        symbol:
          type: string
          example: "$"
        type:
          type: string
          enum: [fiat, crypto, stablecoin]

    Country:
      type: object
      required: [iso2, iso3, name, supported_currencies]
      properties:
        iso2:
          $ref: '#/components/schemas/CountryCode'
        iso3:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USA
        name:
          type: string
          example: United States
        supported_currencies:
          type: array
          description: Currencies Anton can deliver in this country.
          items:
            $ref: '#/components/schemas/CurrencyCode'

    PaymentMethodDescriptor:
      type: object
      required: [code, name, rail_type]
      description: A supported payment method, with the countries where it's available.
      properties:
        code:
          $ref: '#/components/schemas/PaymentMethodCode'
        name:
          type: string
          example: UK Bank Account
        description:
          type: string
          example: Sort code + account number. Routes via Faster Payments, BACS, CHAPS.
        rail_type:
          type: string
          enum: [fiat, crypto, stablecoin]
        supported_countries:
          type: array
          items:
            $ref: '#/components/schemas/CountryCode'

    BeneficiaryUpdateRequest:
      type: object
      description: Mutable fields on a beneficiary. Fields not included are left unchanged.
      properties:
        display_name:
          type: string
          maxLength: 255
        country:
          $ref: '#/components/schemas/CountryCode'
        external_ref:
          type: string
          maxLength: 255
          nullable: true
          description: Set to `null` to clear.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Replaces the existing metadata map in full.
        end_user_ip:
          type: string

    BeneficiaryPII:
      type: object
      description: |
        Detokenized PII for a beneficiary. Returned by `GET /v1/beneficiaries/{id}/pii`.
        Exactly one of `individual` or `business` is populated matching the
        beneficiary's `type`.
      properties:
        type:
          type: string
          enum: [individual, business]
        individual:
          $ref: '#/components/schemas/IndividualDetails'
        business:
          $ref: '#/components/schemas/BusinessDetails'

    BeneficiaryPIIUpdateRequest:
      type: object
      description: |
        Replacement PII. Provide the detail block matching the beneficiary's type.
        The entire PII blob is replaced — partial updates are not supported.
      properties:
        individual:
          $ref: '#/components/schemas/IndividualDetails'
        business:
          $ref: '#/components/schemas/BusinessDetails'
        end_user_ip:
          type: string

    PaymentMethodCode:
      type: string
      description: |
        Credential format of a payment instrument — named by what data is stored,
        not by the rail that delivers the funds. One credential type can route to
        multiple rails (e.g. an IBAN can go via SEPA, SEPA Instant, TARGET2, SWIFT,
        or CHAPS — the rail is selected at payout time).

        Query `GET /v1/payment-methods` for the full country-specific catalog
        including per-method credential schemas.
      enum:
        - iban
        - uk_bank
        - us_bank
        - ca_bank
        - au_bank
        - nz_bank
        - jp_bank
        - in_bank
        - za_bank
        - ng_bank
        - ph_bank
        - cl_bank
        - co_bank
        - swift
        - clabe
        - cbu
        - cci
        - pix
        - upi
        - interac
        - paynow
        - fps_hk
        - promptpay
        - card
        - crypto
        - mobile_money

    InstrumentCreateRequest:
      type: object
      required: [method]
      description: |
        Create an instrument attached to a beneficiary.

        The `credentials` object shape varies by `method`. A few common shapes:

        - `iban`: `{ "iban": "GB82WEST12345698765432", "bic": "WESTGB22" }` (BIC optional)
        - `uk_bank`: `{ "account_number": "12345678", "sort_code": "123456" }`
        - `us_bank`: `{ "routing_number": "026073150", "account_number": "...", "account_type": "checking" }`
        - `crypto`: `{ "wallet_address": "0x...", "network": "ethereum", "token_symbol": "USDC" }`
        - `card`: `{ "pan": "...", "expiry_month": 12, "expiry_year": 2028 }` (routed through PCI vault)

        Call `GET /v1/payment-methods?country=XX` for the complete per-country catalog
        with the exact credential schema required.
      properties:
        method:
          $ref: '#/components/schemas/PaymentMethodCode'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        country:
          $ref: '#/components/schemas/CountryCode'
        label:
          type: string
          description: Merchant-visible label for this instrument (e.g. "Payroll - primary account").
          maxLength: 255
        credentials:
          type: object
          description: Method-specific credential fields. Tokenized on receipt.
          additionalProperties: true
        is_default:
          type: boolean
          description: Make this the default instrument for the beneficiary. The previous default (if any) is unflagged.
          default: false
        end_user_ip:
          type: string

    Instrument:
      type: object
      description: |
        A payment destination attached to a beneficiary. Credentials (account numbers,
        wallet addresses, card PANs) are tokenized in Basis Theory and never returned
        by the API. Only masked display fields and method metadata are exposed.
      required: [id, beneficiary_id, merchant_id, method, status, is_default, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^ins_[a-zA-Z0-9]+$'
          example: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
        beneficiary_id:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
        merchant_id:
          type: string
          pattern: '^mer_[a-zA-Z0-9]+$'
        method:
          $ref: '#/components/schemas/PaymentMethodCode'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        country:
          $ref: '#/components/schemas/CountryCode'
        label:
          type: string
          description: Merchant-visible label.
        display_last4:
          type: string
          description: Last 4 characters of the primary credential (account number / PAN / wallet address), for display.
        display_bank:
          type: string
          description: Bank name derived from routing details, for display.
        display_network:
          type: string
          description: Card network or chain, for display (e.g. `visa`, `ethereum`).
        masked_account:
          type: string
          description: Fully masked credential for list views.
          example: "****5432"
        status:
          type: string
          enum: [active, disabled]
        is_default:
          type: boolean
          description: Whether this is the beneficiary's default instrument for payouts.
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
      example:
        id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
        beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
        merchant_id: mer_01HX8Z9K0M2N3P4Q5R6S7T8UZZ
        method: iban
        currency: EUR
        country: DE
        label: Primary EUR account
        display_last4: "5432"
        display_bank: Deutsche Bank
        masked_account: DE89****5432
        status: active
        is_default: true
        created_at: "2026-04-15T14:30:00Z"
        updated_at: "2026-04-15T14:30:00Z"

    PayoutStatus:
      type: string
      description: |
        Payout lifecycle state. See the
        [How Anton Evaluates Payouts](/how-anton-evaluates-payouts) guide for
        the full state machine and integration guidance.
      enum:
        - created
        - pending_screening
        - screening_failed
        - pending_approval
        - approved
        - processing
        - sent
        - completed
        - failed
        - returned
        - cancelled
        - manual_review
        - velocity_blocked
        - pending_engine_review

    PayoutMethod:
      type: string
      description: |
        How the payout will be delivered. Distinct from an `Instrument`'s `method`
        (which is the credential format) — this is the rail-family selection.
      enum:
        - bank_transfer
        - wire
        - sepa
        - swift
        - ach
        - faster_payment
        - mobile_money
        - wallet
        - on_chain
        - layer2
        - exchange
        - stablecoin

    RailType:
      type: string
      enum: [fiat, crypto, stablecoin]

    Network:
      type: string
      description: Specific rail or chain. Populated by the rail adapter when the payout is submitted.
      enum:
        - swift
        - sepa
        - ach
        - fps
        - rtgs
        - ethereum
        - bitcoin
        - tron
        - solana
        - polygon
        - arbitrum
        - optimism
        - base
        - avalanche
        - bsc
        - lightning
        - stellar
        - ripple

    PayoutCreateRequest:
      type: object
      required:
        - beneficiary_id
        - instrument_id
        - source_amount
        - dest_amount
        - dest_currency
        - method
        - purpose
        - reference
      properties:
        beneficiary_id:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
        instrument_id:
          type: string
          pattern: '^ins_[a-zA-Z0-9]+$'
          description: Must belong to the beneficiary named above and be in `active` status.
        source_amount:
          $ref: '#/components/schemas/Money'
          description: Amount debited from your merchant balance (before fees).
        source_currency:
          $ref: '#/components/schemas/CurrencyCode'
        dest_amount:
          $ref: '#/components/schemas/Money'
          description: Amount the beneficiary receives.
        dest_currency:
          $ref: '#/components/schemas/CurrencyCode'
        method:
          $ref: '#/components/schemas/PayoutMethod'
        rail_type:
          $ref: '#/components/schemas/RailType'
          description: Hint for rail routing. Anton may override based on corridor availability.
        fixed_side:
          type: string
          enum: [fixed_source, fixed_dest]
          default: fixed_dest
          description: Which amount is authoritative — Anton recomputes the other using current corridor pricing.
        fee_bearer:
          type: string
          enum: [merchant, beneficiary]
          default: merchant
          description: Who absorbs the fee. `beneficiary` reduces the amount credited to them by the fee.
        purpose:
          type: string
          maxLength: 255
          description: |
            Payment purpose code. Used for compliance reporting and corridor-specific
            rail requirements. Examples — `contractor_payment`, `supplier_payment`,
            `salary`, `refund`.
          example: contractor_payment
        reference:
          type: string
          maxLength: 100
          description: Your own reference. Surfaces to the beneficiary where the rail supports it.
          example: INV-1042
        metadata:
          type: object
          additionalProperties:
            type: string
        end_user_ip:
          type: string
          description: IP of the merchant's end-user who initiated the payout. Used for risk signals.

    Payout:
      type: object
      description: |
        A single payment from your merchant balance to a beneficiary's instrument.
        Moves through a 13-state machine — see the
        [How Anton Evaluates Payouts](/how-anton-evaluates-payouts) guide.

        Rail-specific fields (`rail_provider`, `rail_reference`, `network`,
        `wallet_address`, `tx_hash`, etc.) populate as the payout moves through
        `approved -> processing -> sent -> completed`.
      required:
        - id
        - merchant_id
        - beneficiary_id
        - instrument_id
        - status
        - method
        - source_amount
        - source_currency
        - dest_amount
        - dest_currency
        - rail_type
        - purpose
        - reference
        - created_at
        - updated_at
      properties:
        id:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
          example: pay_01HX8Z9K0M2N3P4Q5R6S7T8UAB
        merchant_id:
          type: string
          pattern: '^mer_[a-zA-Z0-9]+$'
        beneficiary_id:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
        instrument_id:
          type: string
          pattern: '^ins_[a-zA-Z0-9]+$'
        batch_id:
          type: string
          nullable: true
          pattern: '^bat_[a-zA-Z0-9]+$'
          description: Set when the payout was created as part of a batch upload.
        status:
          $ref: '#/components/schemas/PayoutStatus'
        method:
          $ref: '#/components/schemas/PayoutMethod'
        source_amount:
          $ref: '#/components/schemas/Money'
        source_currency:
          $ref: '#/components/schemas/CurrencyCode'
        dest_amount:
          $ref: '#/components/schemas/Money'
        dest_currency:
          $ref: '#/components/schemas/CurrencyCode'
        exchange_rate:
          $ref: '#/components/schemas/Money'
          description: Source-to-dest rate. Present on cross-currency payouts.
        fee:
          $ref: '#/components/schemas/Money'
        fee_currency:
          $ref: '#/components/schemas/CurrencyCode'
        fee_bearer:
          type: string
          enum: [merchant, beneficiary]
        fixed_side:
          type: string
          enum: [fixed_source, fixed_dest]
        total_debited:
          $ref: '#/components/schemas/Money'
          description: Total drawn from your balance — `source_amount + fee + buffer` during processing. Buffer releases on finalization.
        total_debited_currency:
          $ref: '#/components/schemas/CurrencyCode'
        fee_finalized:
          type: boolean
          description: Whether `fee` reflects the final rate from the rail.
        buffer_amount:
          $ref: '#/components/schemas/Money'
          description: Cross-currency rate buffer held during processing, released on settlement.
        buffer_currency:
          $ref: '#/components/schemas/CurrencyCode'
        pricing_plan_id:
          type: string
          description: Which pricing plan was used for the quote.
        rail_type:
          $ref: '#/components/schemas/RailType'
        rail_provider:
          type: string
          description: External rail name. Populated at rail-submission time.
          example: openpayd
        rail_reference:
          type: string
          description: External provider reference. Useful for support tickets.
        network:
          $ref: '#/components/schemas/Network'
        wallet_address:
          type: string
          description: Destination wallet address. Present for crypto/stablecoin payouts.
        token_contract:
          type: string
          description: ERC-20 / TRC-20 contract address. Present for stablecoin payouts.
        token_symbol:
          type: string
          example: USDC
        tx_hash:
          type: string
          description: On-chain transaction hash. Present once `sent` for crypto/stablecoin payouts.
        block_confirmations:
          type: integer
          description: Number of confirmations observed so far.
        required_confirms:
          type: integer
          description: Confirmations required before the payout reaches `completed`.
        network_fee:
          $ref: '#/components/schemas/Money'
          description: Gas / network fee. Deducted from the settlement, not from your balance.
        network_fee_currency:
          $ref: '#/components/schemas/CurrencyCode'
        cancelled_reason:
          type: string
          description: Populated on `cancelled`, `failed`, `velocity_blocked`, `screening_failed`.
        engine_unavailable_at:
          $ref: '#/components/schemas/Timestamp'
          description: Present if the payout entered `pending_engine_review` because the Anton Engine was unreachable.
        purpose:
          type: string
        reference:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        screened_at:
          $ref: '#/components/schemas/Timestamp'
        screening_failed_at:
          $ref: '#/components/schemas/Timestamp'
        approved_at:
          $ref: '#/components/schemas/Timestamp'
        processed_at:
          $ref: '#/components/schemas/Timestamp'
        completed_at:
          $ref: '#/components/schemas/Timestamp'
        failed_at:
          $ref: '#/components/schemas/Timestamp'
        cancelled_at:
          $ref: '#/components/schemas/Timestamp'
      example:
        id: pay_01HX8Z9K0M2N3P4Q5R6S7T8UAB
        merchant_id: mer_01HX8Z9K0M2N3P4Q5R6S7T8UZZ
        beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
        instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
        status: processing
        method: sepa
        source_amount: "550.00"
        source_currency: USD
        dest_amount: "500.00"
        dest_currency: EUR
        exchange_rate: "0.9091"
        fee: "5.00"
        fee_currency: USD
        fee_bearer: merchant
        fixed_side: fixed_dest
        total_debited: "557.50"
        total_debited_currency: USD
        fee_finalized: false
        buffer_amount: "2.50"
        buffer_currency: USD
        rail_type: fiat
        rail_provider: openpayd
        rail_reference: OP-2026-04-15-778812
        network: sepa
        purpose: supplier_payment
        reference: PO-8821
        created_at: "2026-04-15T14:30:00Z"
        updated_at: "2026-04-15T14:30:05Z"
        screened_at: "2026-04-15T14:30:02Z"
        approved_at: "2026-04-15T14:30:04Z"
        processed_at: "2026-04-15T14:30:05Z"

    PayoutEvent:
      type: object
      description: A single status transition recorded against a payout.
      required: [id, payout_id, merchant_id, status, actor_type, occurred_at, created_at]
      properties:
        id:
          type: string
          pattern: '^pev_[a-zA-Z0-9]+$'
        payout_id:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
        merchant_id:
          type: string
          pattern: '^mer_[a-zA-Z0-9]+$'
        status:
          $ref: '#/components/schemas/PayoutStatus'
        previous_status:
          $ref: '#/components/schemas/PayoutStatus'
        actor_type:
          type: string
          description: Origin of the transition.
          enum: [system, merchant, ops, rail, engine]
        actor_id:
          type: string
          description: Identifier of the actor, if applicable.
        metadata:
          type: object
          additionalProperties: true
        occurred_at:
          $ref: '#/components/schemas/Timestamp'
        created_at:
          $ref: '#/components/schemas/Timestamp'

    BatchStatus:
      type: string
      enum:
        - uploaded
        - validating
        - validated
        - validation_failed
        - confirmed
        - processing
        - completed
        - partial
        - failed
        - cancelled

    BatchError:
      type: object
      description: A row-level validation error.
      required: [row, message]
      properties:
        row:
          type: integer
          description: 1-based row number in the original file.
        field:
          type: string
          description: Header/column the error applies to. Empty for row-level issues.
        message:
          type: string

    BatchWarning:
      type: object
      description: A non-blocking row-level warning.
      required: [row, type, message]
      properties:
        row:
          type: integer
        type:
          type: string
          description: Category — e.g. `beneficiary_mismatch`, `duplicate_skip`, `duplicate_conflict`.
        message:
          type: string

    BatchSummary:
      type: object
      description: Validation summary the merchant reviews before confirming.
      properties:
        new_beneficiaries:
          type: integer
          description: Beneficiaries that would be created from the file.
        matched_beneficiaries:
          type: integer
          description: Rows that matched an existing beneficiary.
        existing_beneficiaries:
          type: integer
          description: Distinct existing beneficiaries referenced.
        methods:
          type: object
          description: Count of rows by payment method.
          additionalProperties:
            type: integer
        estimated_debits:
          type: array
          items:
            type: object
            properties:
              currency:
                $ref: '#/components/schemas/CurrencyCode'
              amount:
                $ref: '#/components/schemas/Money'
              fx_rows:
                type: integer
              same_currency_rows:
                type: integer
              rate_timestamp:
                $ref: '#/components/schemas/Timestamp'
        fx_markup_bps:
          type: integer
          description: FX markup applied to cross-currency rows, in basis points.
        balance_check:
          type: object
          description: Balance sufficiency per funding currency.
          additionalProperties:
            type: object
            properties:
              available:
                $ref: '#/components/schemas/Money'
              estimated_debit:
                $ref: '#/components/schemas/Money'
              sufficient:
                type: boolean

    BatchRowResult:
      type: object
      required: [row, status]
      properties:
        row:
          type: integer
        status:
          type: string
          enum: [success, failed, skipped, pending]
        payout_id:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
        beneficiary_id:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
        instrument_id:
          type: string
          pattern: '^ins_[a-zA-Z0-9]+$'
        error:
          type: string
          description: Free-form reason for `failed`.
        skip_reason:
          type: string
          description: Reason for `skipped` (e.g. `duplicate`).

    Batch:
      type: object
      description: |
        A batch upload. Moves through `uploaded -> validating -> validated ->
        confirmed -> processing -> completed | partial | failed`. Can be
        cancelled from any pre-processing state.
      required:
        - id
        - merchant_id
        - uploaded_by
        - status
        - file_name
        - file_format
        - file_size
        - created_at
        - updated_at
      properties:
        id:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
          example: bat_01HX8Z9K0M2N3P4Q5R6S7T8UBT
        merchant_id:
          type: string
          pattern: '^mer_[a-zA-Z0-9]+$'
        uploaded_by:
          type: string
          description: User ID of the operator who uploaded this batch.
        status:
          $ref: '#/components/schemas/BatchStatus'
        file_name:
          type: string
          example: payroll_2026_04_15.csv
        file_format:
          type: string
          enum: [csv, xlsx]
        file_size:
          type: integer
          description: Bytes.
        total_rows:
          type: integer
        valid_rows:
          type: integer
        invalid_rows:
          type: integer
        warning_rows:
          type: integer
        skipped_rows:
          type: integer
        processed_rows:
          type: integer
        summary:
          $ref: '#/components/schemas/BatchSummary'
        source_currency:
          $ref: '#/components/schemas/CurrencyCode'
          description: Default funding currency used for rows that don't specify their own. Set at confirmation.
        current_row_index:
          type: integer
          description: Resumability checkpoint — highest row index successfully processed.
        expires_at:
          $ref: '#/components/schemas/Timestamp'
          description: Deadline for confirming a `validated` batch.
        confirmed_at:
          $ref: '#/components/schemas/Timestamp'
        confirmed_by:
          type: string
        cancelled_at:
          $ref: '#/components/schemas/Timestamp'
        cancelled_by:
          type: string
        processing_started_at:
          $ref: '#/components/schemas/Timestamp'
        completed_at:
          $ref: '#/components/schemas/Timestamp'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'

    WebhookSubscription:
      type: object
      description: A registered webhook endpoint and its event filter.
      # TODO

    Balance:
      type: object
      description: Available, pending, and total funds in a single currency.
      required: [id, merchant_id, currency, available, pending, total, updated_at]
      properties:
        id:
          type: string
          pattern: '^bal_[a-zA-Z0-9]+$'
        merchant_id:
          type: string
          pattern: '^mer_[a-zA-Z0-9]+$'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        available:
          $ref: '#/components/schemas/Money'
          description: Funds usable for new payouts.
        pending:
          $ref: '#/components/schemas/Money'
          description: Funds reserved for in-flight payouts (debited but not yet settled).
        total:
          $ref: '#/components/schemas/Money'
          description: '`available + pending`.'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
      example:
        id: bal_01HX8Z9K0M2N3P4Q5R6S7T8UBA1
        merchant_id: mer_01HX8Z9K0M2N3P4Q5R6S7T8UZZ
        currency: USD
        available: "12450.00"
        pending: "550.00"
        total: "13000.00"
        updated_at: "2026-04-15T14:30:00Z"

    Corridor:
      type: object
      description: |
        An active payout corridor — a (rail_type, currency, country, method,
        network) combination Anton can deliver through. Corridors are
        destination-only; the source currency is not part of the corridor
        (Anton handles FX separately).
      required: [id, rail_type, currency, country, method, active]
      properties:
        id:
          type: string
          pattern: '^cor_[a-zA-Z0-9]+$'
        rail_type:
          $ref: '#/components/schemas/RailType'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        country:
          $ref: '#/components/schemas/CountryCode'
          description: Destination country. `XX` for global crypto networks.
        network:
          $ref: '#/components/schemas/Network'
        method:
          type: string
          description: Delivery method within the corridor (bank_transfer, on_chain, stablecoin, etc.).
        active:
          type: boolean
        priority:
          type: integer
          description: Anton uses lowest priority first when multiple corridors match.
        cutoff_time:
          type: string
[...]
