# Canonical, hand-authored OpenAPI spec for the Anton Payments v1.0.0
# customer-facing public API. Mirrored in the docs repo at
# openapi-merchant.yaml and served publicly via Mintlify — edits here
# MUST be mirrored to docs/openapi-merchant.yaml in the docs repo.
#
# Generated from `api/docs/openapi.yaml` per ANT-313 by stripping
# portal-only path leaks. Portal-only paths (now under
# `/internal/v1/app/*`) and ops paths (`/internal/v1/ops/*`) are
# documented in their own audience-filtered specs (ANT-314 / ANT-315 —
# pending).

openapi: 3.1.0

info:
  title: Anton Payments API
  version: 1.0.0
  summary: Cross-border payout infrastructure. Fiat, stablecoin, and crypto.
  description: |
    The Anton Payments merchant API. Versioned, idempotent, cursor-paginated.

    - **Authentication**: OAuth 2.0 client_credentials with DPoP proof-of-possession (RFC 6749 §4.4 + RFC 9449). Programmatic clients exchange `(client_id, client_secret)` for a short-lived access token at `POST /oauth/token`, then send each request with `Authorization: DPoP <access_token>` plus a per-request `DPoP: <proof>` header. Static API keys are not accepted on v1.
    - Base URLs: `https://api.antonpayments.com` (production), `https://api.antonpayments.dev` (sandbox).
    - Monetary amounts are decimal strings. Never floats.
    - Timestamps are RFC 3339 UTC.
    - All mutating endpoints support the `Idempotency-Key` header.
    - Anton's OAuth public signing key is published at `GET /.well-known/jwks.json` (5-minute cache; RFC 8615).

    See the Cross-Cutting section of the docs for idempotency, pagination, rate limits, errors, webhook events, and webhook signing.
  contact:
    name: Anton Payments Support
    url: https://help.antonpayments.com
  license:
    name: Proprietary
    url: https://www.antonpayments.com

servers:
  - url: https://api.antonpayments.com
    description: Production
  - url: https://api.antonpayments.dev
    description: Sandbox

security:
  - oauthDPoP: []
    dpopHeader: []

tags:
  - name: Authentication
    description: OAuth 2.0 token endpoint and JWKS publication. See the API description for the full DPoP-bound flow.
  - name: OAuth Clients
    description: Manage OAuth credentials (programmatic access). Portal-only — JWT auth required.
  - name: Reference Data
    description: Currencies, countries, and supported payment methods.
  - name: Beneficiaries
    description: Create and manage the people and businesses you pay.
  - name: Instruments
    description: Payment instruments attached to beneficiaries — bank accounts, wallets, cards.
  - name: Payouts
    description: Initiate and track payouts.
  - name: Batches
    description: CSV-driven bulk payout processing.
  - name: Balances
    description: Merchant balance by currency.
  - name: Accounts
    description: Virtual accounts for merchant funding.
  - name: Webhooks
    description: Subscribe to event notifications.
  - name: Documents
    description: Upload and manage KYB and supporting documents.
  - name: RFIs
    description: Respond to Requests for Information raised during review.
  - name: Pricing
    description: Read merchant pricing plans and quote fees.
  - name: FX
    description: Quote, lock, and execute currency exchanges between balances.
  - name: Corridors
    description: Active cross-border corridors for your merchant.
  - name: Balance Alerts
    description: Per-currency low-balance thresholds that drive the `balance.low` webhook event.
  - name: Sandbox
    description: Reset and seed your sandbox environment.
  - name: Merchant
    description: Merchant profile, branding, preferences, and security posture.
  - name: API Keys
    description: Issue, list, and revoke API keys.
  - name: Users
    description: Self-service profile, MFA, and team management.
  - name: Notifications
    description: Per-user notification channels and preferences.
  - name: Velocity
    description: Merchant-scoped risk rules and what-if simulation.
  - name: Engine
    description: Glass-box view of Anton's risk intelligence.
  - name: Intelligence
    description: Normalized payee, instrument, payout, and merchant risk intelligence evaluations.
  - name: Onboarding
    description: Authenticated KYB onboarding draft and submission.
  - name: Public Onboarding
    description: Session-authenticated hosted onboarding flow. Not intended for SDK consumption.

paths:
  /v1/intelligence/evaluations:
    post:
      tags: [Intelligence]
      summary: Create an intelligence evaluation
      description: |
        Evaluates payee, instrument, payout, merchant onboarding, or monitoring inputs through Anton Intelligence.

        The request contract is strict and uses fixed enums so enterprise clients can generate SDKs safely.
        Direct PII may be supplied over TLS or recovered from a vault token; Anton uses it in memory for the evaluation and persists only redacted decision evidence.
      security: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            maxLength: 255
          description: Recommended for enterprise retries. If both this header and body `idempotency_key` are supplied, the header wins.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntelligenceEvaluationRequest'
            examples:
              payee_registration:
                summary: Payee registration
                value:
                  use_case: payee_registration
                  client_reference_id: payee_john_doe_001
                  entity:
                    type: person
                    reference_id: payee_john_doe
                    name: John Doe
                    country: US
                    birth_date: "1979-12-30"
              crypto_wallet:
                summary: Crypto wallet screening
                value:
                  use_case: instrument_screening
                  entity:
                    type: person
                    reference_id: payee_john_doe
                    name: John Doe
                    country: US
                  instrument:
                    type: crypto_wallet
                    country: US
                    currency: BTC
                    crypto_wallet:
                      network: bitcoin
                      address: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
              bank_account:
                summary: Bank account screening
                value:
                  use_case: instrument_screening
                  entity:
                    type: person
                    reference_id: payee_john_doe
                    name: John Doe
                    country: US
                  instrument:
                    type: bank_account
                    country: US
                    currency: USD
                    bank_account:
                      routing_number: "021000021"
                      account_number: "000123456789"
                      account_type: checking
      responses:
        '200':
          description: Evaluation created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/IntelligenceEvaluation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/intelligence/evaluations/validate:
    post:
      tags: [Intelligence]
      summary: Validate an intelligence evaluation request
      description: Validates the strict public request contract without creating or persisting an evaluation.
      security: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            maxLength: 255
          description: Optional. If both this header and body `idempotency_key` are supplied, the header wins during validation mapping.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntelligenceEvaluationRequest'
      responses:
        '200':
          description: Request is valid and can be mapped to an internal event.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/ValidateIntelligenceEvaluationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/intelligence/evaluations/{id}:
    get:
      tags: [Intelligence]
      summary: Retrieve an intelligence evaluation
      security: []
      parameters:
        - $ref: '#/components/parameters/IntelligenceEvaluationID'
      responses:
        '200':
          description: Concise evaluation result.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/IntelligenceEvaluation'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/intelligence/evaluations/{id}/evidence:
    get:
      tags: [Intelligence]
      summary: Retrieve obscured intelligence evidence
      description: Returns provider-neutral, PII-free evidence and records an audit event.
      security: []
      parameters:
        - $ref: '#/components/parameters/IntelligenceEvaluationID'
      responses:
        '200':
          description: Obscured normalized evidence.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/IntelligenceEvidence'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /oauth/token:
    post:
      tags: [Authentication]
      summary: Mint a DPoP-bound access token
      description: |
        Exchange `(client_id, client_secret)` plus a DPoP proof for an OAuth 2.0 access token bound to the merchant's registered DPoP keypair. RFC 6749 §4.4 (client_credentials) + RFC 9449 §5.

        Send credentials via HTTP Basic auth (`Authorization: Basic <base64(client_id:client_secret)>`) — body fallback is also accepted. The `DPoP` header is required and MUST carry a proof JWT signed by the merchant's private DPoP key with `htm=POST`, `htu=https://api.../oauth/token`, fresh `iat` / `jti`, and NO `ath` claim (the access token does not exist yet).

        Token TTL is **1 hour** in production / staging and **8 hours** in sandbox. There are no refresh tokens — call this endpoint again to mint a fresh token.
      security: []
      parameters:
        - in: header
          name: DPoP
          required: true
          schema: { type: string }
          description: DPoP proof JWT for this token request.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials]
                client_id:
                  type: string
                  description: Optional when supplied via Basic auth header.
                client_secret:
                  type: string
                  description: Optional when supplied via Basic auth header.
      responses:
        '200':
          description: Access token minted.
          headers:
            Cache-Control: { schema: { type: string }, description: '`no-store` per RFC 6749 §5.1.' }
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in]
                properties:
                  access_token:
                    type: string
                    description: "Signed JWT to send as `Authorization: DPoP <token>`."
                  token_type:
                    type: string
                    enum: [DPoP]
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds.
        '400':
          description: Invalid request, unsupported_grant_type, or invalid DPoP proof.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthError' }
        '401':
          description: invalid_client (unknown client_id or wrong secret).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthError' }
        '403':
          description: Test client used in production.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthError' }

  /.well-known/jwks.json:
    get:
      tags: [Authentication]
      summary: Public OAuth signing key set
      description: |
        Serves the public half of Anton's OAuth signing key (or keys, during a 24h rotation overlap) as a JSON Web Key Set. SDKs and external verifiers fetch this to verify access tokens locally without a DB hit. Cached 5 minutes.
      security: []
      responses:
        '200':
          description: JWKS document.
          headers:
            Cache-Control: { schema: { type: string }, description: '`public, max-age=300`.' }
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/JSONWebKey' }




  /v1/currencies:
    get:
      tags: [Reference Data]
      summary: List supported currencies
      operationId: listCurrencies
      description: |
        Return every currency Anton supports, across fiat, crypto, and stablecoin.
        Use these codes when building payout or FX requests.
      responses:
        '200':
          description: Supported currencies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
              example:
                data:
                  - code: USD
                    name: US Dollar
                    decimals: 2
                    symbol: "$"
                    type: fiat
                  - code: USDC
                    name: USD Coin
                    decimals: 6
                    symbol: USDC
                    type: stablecoin

  /v1/countries:
    get:
      tags: [Reference Data]
      summary: List supported countries
      operationId: listCountries
      description: |
        Return every destination country Anton can deliver payouts to, along with
        the currencies each country supports.
      responses:
        '200':
          description: Supported countries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'

  /v1/payment-methods:
    get:
      tags: [Reference Data]
      summary: List supported payment methods
      operationId: listPaymentMethods
      description: |
        Return the catalog of payment-method descriptors — each row is a credential
        format (IBAN, UK bank, US bank, IPX proxies, crypto, card, mobile money)
        with the countries where it's supported.

        Use this endpoint to drive dynamic instrument-creation UI: pick a country,
        filter to supported methods, prompt for the right credential fields.
      responses:
        '200':
          description: Supported payment methods.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethodDescriptor'

  /v1/beneficiaries:
    post:
      tags: [Beneficiaries]
      summary: Create a beneficiary
      operationId: createBeneficiary
      description: |
        Create a person (`individual`) or business (`business`) you want to pay. PII
        submitted in the request body is tokenized in Basis Theory on creation — only
        a display name, country, and opaque token reference are stored in the Anton
        database.

        To retrieve the PII you submitted, use `GET /v1/beneficiaries/{id}/pii`.

        This endpoint requires an `Idempotency-Key` header. Duplicate calls with the
        same key return the original beneficiary; different bodies with the same key
        return `409 idempotency_conflict`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryCreateRequest'
            examples:
              individual:
                summary: Individual beneficiary
                value:
                  type: individual
                  country: GB
                  external_ref: contractor-1042
                  individual:
                    first_name: Jane
                    last_name: Smith
                    email: jane@example.com
                    phone: "+442079460000"
                    date_of_birth: "1988-05-12"
                    nationality: GB
                    address:
                      street_line_1: 10 Example Street
                      city: London
                      postal_code: SW1A 1AA
                      country: GB
              business:
                summary: Business beneficiary
                value:
                  type: business
                  country: DE
                  business:
                    legal_name: Example GmbH
                    registration_number: HRB12345
                    email: ap@example.de
                    phone: "+493012345678"
                    entity_type: llc
                    incorporation_country: DE
                    address:
                      street_line_1: Beispielstraße 1
                      city: Berlin
                      postal_code: "10115"
                      country: DE
      responses:
        '201':
          description: Beneficiary created.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Idempotent-Replayed:
              $ref: '#/components/headers/X-Idempotent-Replayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '400':
          $ref: '#/components/responses/IdempotencyConflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Beneficiaries]
      summary: List beneficiaries
      operationId: listBeneficiaries
      description: |
        List beneficiaries scoped to your merchant. Results are cursor-paginated and
        sorted by creation time descending.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Filter by beneficiary status.
          required: false
          schema:
            type: string
            enum: [active, archived, blocked]
        - name: type
          in: query
          description: Filter by beneficiary type.
          required: false
          schema:
            type: string
            enum: [individual, business]
        - name: country
          in: query
          description: Filter by ISO-3166 alpha-2 country code.
          required: false
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Paginated list of beneficiaries.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Beneficiary ID (prefixed `ben_`).
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
          example: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
    get:
      tags: [Beneficiaries]
      summary: Retrieve a beneficiary
      operationId: getBeneficiary
      description: Return a single beneficiary by ID. Returns `404` if the beneficiary does not exist or belongs to a different merchant.
      responses:
        '200':
          description: Beneficiary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Beneficiaries]
      summary: Update a beneficiary
      operationId: updateBeneficiary
      description: |
        Update mutable fields on a beneficiary: `display_name`, `country`, `external_ref`,
        and `metadata`. PII cannot be updated via this endpoint — use
        `PUT /v1/beneficiaries/{id}/pii` instead, since PII is tokenized.

        Fields not present in the request body are left unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryUpdateRequest'
      responses:
        '200':
          description: Beneficiary updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Beneficiaries]
      summary: Delete a beneficiary
      operationId: deleteBeneficiary
      description: |
        Soft-deletes a beneficiary. The record is removed from active listings and
        can no longer be used to initiate new payouts. Historical payouts referencing
        this beneficiary remain unchanged and accessible.

        Archiving is typically preferred over deletion — see
        `POST /v1/beneficiaries/{id}/archive`. Archiving preserves the beneficiary
        in a disabled state that can be restored later.
      responses:
        '204':
          description: Beneficiary deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/pii:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    get:
      tags: [Beneficiaries]
      summary: Retrieve beneficiary PII
      operationId: getBeneficiaryPII
      description: |
        Detokenizes and returns the PII stored in Basis Theory for this beneficiary.
        Every access is recorded in the merchant audit log (PCI DSS 10.2.1).

        Use this to pre-populate edit forms or verify submitted identity data.
      responses:
        '200':
          description: Beneficiary PII, detokenized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryPII'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Beneficiaries]
      summary: Replace beneficiary PII
      operationId: updateBeneficiaryPII
      description: |
        Replaces the PII stored in Basis Theory for this beneficiary. The entire PII
        blob is replaced — partial updates are not supported, because tokens are
        immutable.

        Supply the detail block matching the beneficiary's `type` (`individual` or
        `business`). The `display_name` on the beneficiary record is automatically
        re-derived from the new PII.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryPIIUpdateRequest'
      responses:
        '200':
          description: Beneficiary PII replaced. Returns the updated beneficiary record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/archive:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Archive a beneficiary
      operationId: archiveBeneficiary
      description: |
        Soft-disables a beneficiary. The record is preserved and can be restored later,
        but it cannot be used to initiate new payouts while archived. PII remains
        tokenized and accessible.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
                  description: IP address of the merchant's end-user who initiated this action.
      responses:
        '200':
          description: Beneficiary archived. Returns the updated record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/restore:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Restore an archived beneficiary
      operationId: restoreBeneficiary
      description: |
        Restores a previously archived beneficiary to active status. Beneficiaries
        blocked by compliance cannot be restored via this endpoint — contact support.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Beneficiary restored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts:
    post:
      tags: [Payouts]
      summary: Create a payout
      operationId: createPayout
      description: |
        Initiate a payout from your merchant balance to a beneficiary's payment
        instrument. The payout goes through compliance screening, velocity
        evaluation, and engine risk scoring before being submitted to a rail — see
        [How Anton Evaluates Payouts](/how-anton-evaluates-payouts) for the full
        lifecycle.

        The initial status is `created`. The payout transitions to
        `pending_screening` within moments and its subsequent state changes are
        delivered via `payout.*` webhook events. Do not poll.

        Both `source_amount` and `dest_amount` must be provided along with
        `fixed_side` (`fixed_source` or `fixed_dest`) indicating which amount is
        authoritative. The other amount is recomputed on the backend using the
        current corridor pricing. An FX quote may be locked via `POST /v1/fx/quote`
        if you need rate certainty before submission.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCreateRequest'
            examples:
              same_currency:
                summary: Same-currency USD payout
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
                  source_amount: "500.00"
                  source_currency: USD
                  dest_amount: "500.00"
                  dest_currency: USD
                  method: ach
                  rail_type: fiat
                  fixed_side: fixed_dest
                  purpose: contractor_payment
                  reference: INV-1042
              cross_currency:
                summary: USD -> EUR SEPA
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
                  source_amount: "550.00"
                  source_currency: USD
                  dest_amount: "500.00"
                  dest_currency: EUR
                  method: sepa
                  rail_type: fiat
                  fee_bearer: merchant
                  fixed_side: fixed_dest
                  purpose: supplier_payment
                  reference: PO-8821
              stablecoin:
                summary: USDC on Ethereum
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA3
                  source_amount: "1000.00"
                  source_currency: USDC
                  dest_amount: "1000.00"
                  dest_currency: USDC
                  method: stablecoin
                  rail_type: stablecoin
                  fixed_side: fixed_dest
                  purpose: contractor_payment
                  reference: INV-1042
      responses:
        '201':
          description: Payout created. Subsequent lifecycle is reported via webhooks.
          headers:
            X-Idempotent-Replayed:
              $ref: '#/components/headers/X-Idempotent-Replayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — common causes include merchant not approved, corridor not enabled, or velocity rule blocking (`velocity_blocked`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Beneficiary or instrument not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          description: |
            Unprocessable — validation failed, insufficient balance, or beneficiary/
            instrument not eligible (e.g. archived, disabled, wrong currency).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorEnvelope'
                  - $ref: '#/components/schemas/ValidationErrorEnvelope'
              examples:
                insufficient_balance:
                  value:
                    error:
                      code: insufficient_balance
                      message: insufficient funds for this payout
                validation:
                  value:
                    error:
                      code: validation_error
                      message: request failed validation
                      details:
                        - field: dest_currency
                          message: must be a valid ISO-4217 currency code
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Payouts]
      summary: List payouts
      operationId: listPayouts
      description: |
        Cursor-paginated list of payouts for your merchant, sorted by `created_at`
        descending.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Filter by one or more statuses. Repeat the param to pass multiple values.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PayoutStatus'
          style: form
          explode: true
        - name: beneficiary_id
          in: query
          schema:
            type: string
            pattern: '^ben_[a-zA-Z0-9]+$'
        - name: instrument_id
          in: query
          schema:
            type: string
            pattern: '^ins_[a-zA-Z0-9]+$'
        - name: batch_id
          in: query
          schema:
            type: string
            pattern: '^bat_[a-zA-Z0-9]+$'
        - name: dest_currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: reference
          in: query
          description: Exact-match filter on the merchant's `reference` field.
          schema:
            type: string
        - name: created_after
          in: query
          description: RFC 3339 timestamp. Returns payouts with `created_at >= this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          description: RFC 3339 timestamp. Returns payouts with `created_at <= this` (inclusive upper bound — matches `/v1/batches`).
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of payouts.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Payout ID (prefixed `pay_`).
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
          example: pay_01HX8Z9K0M2N3P4Q5R6S7T8UAB
    get:
      tags: [Payouts]
      summary: Retrieve a payout
      operationId: getPayout
      description: Return a single payout by ID. Returns `404` if the payout does not exist or belongs to a different merchant.
      responses:
        '200':
          description: Payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/events:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    get:
      tags: [Payouts]
      summary: List lifecycle events for a payout
      operationId: listPayoutEvents
      description: |
        Return every status transition recorded for this payout, oldest first. Use
        this to reconstruct a payout's timeline for support, accounting, or
        debugging purposes. Note: the preferred way to react to events in real time
        is via webhook subscriptions — polling this endpoint wastes rate-limit
        budget.
      responses:
        '200':
          description: Lifecycle events.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayoutEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    post:
      tags: [Payouts]
      summary: Cancel a payout
      operationId: cancelPayout
      description: |
        Cancel a payout that has not yet been submitted to a rail. Cancellation is
        only possible from `created`, `pending_screening`, `pending_approval`,
        `pending_engine_review`, or `manual_review`. Once a payout reaches
        `processing` or beyond, it cannot be cancelled via the API — contact
        support if you need to halt a payout in flight.

        Any debited source funds (source amount, fee, and cross-currency buffer)
        are released back to the merchant balance on successful cancellation.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Free-form reason for cancellation. Recorded in the audit log.
                  maxLength: 255
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Payout cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Payout is not in a cancellable state, or idempotency conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/import:
    post:
      tags: [Beneficiaries]
      summary: Preview a bulk beneficiary import
      operationId: previewBeneficiaryImport
      description: |
        Upload a CSV file of beneficiaries (individual OR business — one type per
        file). The server parses every row, runs the same validation as
        `POST /v1/beneficiaries`, and returns per-row results. **No beneficiaries
        are created at this phase.**

        After reviewing the per-row errors, call
        `POST /v1/beneficiaries/import/{import_id}/confirm` to materialize the rows
        that passed validation. The preview row TTLs after 24 hours.

        Distinct from the `POST /v1/batches` flow: that endpoint creates
        beneficiaries + instruments + payouts in one shot. This endpoint creates
        only beneficiaries — for the merchant-portal beneficiary onboarding
        surface (ANT-241).

        Requires an `Idempotency-Key` header.

        Maximum file size: 8 MB. Only `.csv` is accepted in v1.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file matching the individual or business template.
      responses:
        '201':
          description: Preview generated with per-row validation results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BeneficiaryImportPreview'
        '400':
          description: |
            Malformed upload. One of:
            - `invalid_multipart_form` — request body is not valid multipart/form-data.
            - `invalid_file` — the `file` form field was missing or unreadable.
            - `invalid_file_format` — unsupported extension (only `.csv` is accepted).
            - `invalid_csv` — the file could not be parsed, or the header row does not
              match the individual or business template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: '`file_too_large` — file exceeds the 8 MB limit.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`import_preview_failed` — the preview could not be persisted; safe to retry with a fresh idempotency key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/import/{importID}/confirm:
    parameters:
      - name: importID
        in: path
        required: true
        schema:
          type: string
          pattern: '^imp_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Confirm a beneficiary import
      operationId: confirmBeneficiaryImport
      description: |
        Materializes beneficiaries for every row that passed preview validation.
        Invalid rows from the preview phase are skipped. Rows that pass preview
        but fail at create time (duplicate identity, vault failure, etc.) are
        reported in `errors[]`.

        The import row is marked `confirmed` once this call completes — even
        on partial failure. To re-run a subset, edit the source CSV and upload
        a fresh import.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Confirm completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BeneficiaryImportConfirm'
        '400':
          description: '`invalid_import_id` — the path parameter does not look like an `imp_` id.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`import_not_found` — no preview row matches this id for the calling merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            Confirm cannot proceed. One of:
            - `import_already_confirmed` — a previous call already materialized this import.
            - `import_expired` — the 24-hour TTL has elapsed; re-upload the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/import/template:
    get:
      tags: [Beneficiaries]
      summary: Download the beneficiary import CSV template
      operationId: downloadBeneficiaryImportTemplate
      description: |
        Returns a ready-to-fill CSV template with the canonical header row and
        one or two example rows. Use this to anchor your import format — column
        order and casing matter.
      parameters:
        - name: type
          in: query
          required: true
          description: Which template to serve.
          schema:
            type: string
            enum: [individual, business]
        - name: format
          in: query
          description: Template format. Only `csv` is supported in v1.
          schema:
            type: string
            enum: [csv]
            default: csv
      responses:
        '200':
          description: Template file.
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: |
            One of:
            - `invalid_template_type` — `type` must be `individual` or `business`.
            - `invalid_template_format` — only `csv` is supported in v1.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`template_not_found` — the template asset could not be located on the server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/instruments:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    get:
      tags: [Instruments]
      summary: List a beneficiary's instruments
      operationId: listInstrumentsForBeneficiary
      description: Return all payment instruments attached to this beneficiary.
      responses:
        '200':
          description: List of instruments for the beneficiary.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags: [Instruments]
      summary: Create an instrument for a beneficiary
      operationId: createInstrumentForBeneficiary
      description: |
        Attach a payment instrument to a beneficiary. The credentials you submit
        (bank account numbers, wallet addresses, card PANs) are tokenized in Basis
        Theory on receipt — Anton's core database stores only a token reference, a
        display-only masked value, and a content fingerprint used for cross-merchant
        deduplication.

        The request body shape depends on the `method` — each method has a distinct
        credential schema. See the [Instruments methods endpoint](#tag/Reference-Data/operation/listPaymentMethods)
        for the full per-country method catalog.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentCreateRequest'
      responses:
        '201':
          description: Instrument created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches/template:
    get:
      tags: [Batches]
      summary: Download the batch CSV template
      operationId: downloadBatchTemplate
      description: |
        Returns a ready-to-fill template with the canonical header row and a
        handful of example rows. Use this to anchor your batch format — column
        order and casing matter.
      parameters:
        - name: format
          in: query
          description: Template format. Defaults to `xlsx` when omitted.
          schema:
            type: string
            enum: [xlsx, csv]
      responses:
        '200':
          description: Template file.
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          description: '`invalid_template_format` — the `format` query parameter must be `xlsx` or `csv`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`template_not_found` — the template asset could not be located on the server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches:
    post:
      tags: [Batches]
      summary: Upload a batch
      operationId: uploadBatch
      description: |
        Upload a batch file (CSV or XLSX) containing many payout rows. The file
        is stored, hashed for duplicate detection, and queued for asynchronous
        validation. The response returns the batch in `uploaded` status; the
        status transitions to `validating`, then `validated` (or
        `validation_failed`) via webhook.

        After `validated`, review `GET /v1/batches/{id}` and the summary, then
        call `POST /v1/batches/{id}/confirm` to actually create the payouts.
        Confirmation expires — see `expires_at` on the batch record.

        Maximum file size: 32 MB. Maximum rows per batch: check current limits
        with support.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV or XLSX file. Filename is preserved.
      responses:
        '201':
          description: Batch accepted and queued for validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          description: |
            Malformed upload. One of:
            - `invalid_multipart_form` — request body is not valid multipart/form-data.
            - `invalid_file` — the `file` form field was missing or unreadable.
            - `invalid_file_format` — unsupported extension (only `.csv` and `.xlsx` are accepted).
            - `file_hash_mismatch` — the optional `file_hash` form value did not match the server-computed SHA-256.
            - `file_too_large` — file exceeds the 32 MB limit. (Also surfaced as 413; see below.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: '`duplicate_file` — a batch with this exact file hash is still being processed (non-terminal).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '413':
          description: '`file_too_large` — file exceeds the 32 MB limit.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`batch_upload_failed` — the batch could not be persisted after upload; safe to retry with a fresh idempotency key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [Batches]
      summary: List batches
      operationId: listBatches
      description: |
        Cursor-paginated list of batches for your merchant. Filter by
        `status` and/or the `created_at` range using `created_after` /
        `created_before`. Dates are RFC 3339 timestamps.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BatchStatus'
        - name: created_after
          in: query
          description: RFC 3339 timestamp. Returns batches with `created_at >= this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          description: RFC 3339 timestamp. Returns batches with `created_at <= this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of batches.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Batch'
        '400':
          description: '`invalid_cursor` — pagination cursor is malformed or has been tampered with.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/batches/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: Retrieve a batch
      operationId: getBatch
      description: Return a single batch, including its validation summary (when available).
      responses:
        '200':
          description: Batch record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/confirm:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    post:
      tags: [Batches]
      summary: Confirm a validated batch
      operationId: confirmBatch
      description: |
        Confirm a batch for processing. The state machine is
        `uploaded → validating → validated → confirmed → processing → completed|partial|failed`.
        Only batches in `validated` status may be confirmed; the batch
        transitions to `confirmed` and then `processing` as payouts are
        created from valid rows.

        Confirmation is irrevocable — once a batch is `confirmed`, individual
        payouts can still be cancelled (`POST /v1/payouts/{id}/cancel`) up until
        they're submitted to a rail, but the batch itself proceeds.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                source_currency:
                  $ref: '#/components/schemas/CurrencyCode'
                  description: Override the default funding currency for rows that don't specify one.
      responses:
        '200':
          description: Batch confirmed and queued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '400':
          description: '`missing_idempotency_key` — the `Idempotency-Key` header is required for this endpoint.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            - `batch_not_validated` — batch is not in `validated` status.
            - `batch_confirmation_expired` — the batch's `expires_at` has passed; re-upload the file.
            - `idempotency_conflict` — the `Idempotency-Key` was reused with a different request body.
            - `idempotency_in_flight` — a prior request with the same `Idempotency-Key` is still being processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`batch_confirm_failed` — the batch could not be confirmed due to an unexpected internal condition; safe to retry with the same idempotency key after the in-flight attempt settles.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: '`idempotency_unavailable` — the idempotency subsystem is temporarily unavailable; retry with backoff.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    post:
      tags: [Batches]
      summary: Cancel a batch
      operationId: cancelBatch
      description: |
        Cancel a batch before processing begins. Valid from `uploaded`,
        `validating`, `validated`, `validation_failed`, or `confirmed`. Once
        `processing` begins, use per-payout cancellation instead.
      responses:
        '200':
          description: Batch cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: '`batch_not_cancellable` — batch is already in a terminal state or is actively processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`batch_cancel_failed` — the batch could not be cancelled due to an unexpected internal condition.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/payouts:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List payouts created from a batch
      operationId: listBatchPayouts
      description: |
        Cursor-paginated list of payouts created by processing this batch. Row
        order in the original file is preserved in the response.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Payouts created by this batch.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payout'
        '400':
          description: '`invalid_cursor` — pagination cursor is malformed or has been tampered with.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/errors:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List validation errors and warnings for a batch
      operationId: listBatchErrors
      description: |
        Return the row-level validation errors and warnings produced during the
        `validating` phase. Each error or warning carries the row number and
        field it applies to so you can point the merchant back to their source
        file.
      responses:
        '200':
          description: Errors and warnings keyed by row.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchError'
                      warnings:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/results:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List per-row processing results
      operationId: listBatchResults
      description: |
        Return the per-row outcome of `processing`. For each original row you
        get the row number, outcome (`success`, `failed`, `skipped`, `pending`),
        the created `payout_id` (if any), and a human-readable reason for any
        non-success outcome.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Per-row results.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BatchRowResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/instruments:
    get:
      tags: [Instruments]
      summary: List instruments
      operationId: listInstruments
      description: |
        List payment instruments across all beneficiaries in your merchant scope.
        Use the `beneficiary_id` filter to narrow to a single beneficiary (or call
        `GET /v1/beneficiaries/{id}/instruments`, which returns the same result).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: beneficiary_id
          in: query
          schema:
            type: string
            pattern: '^ben_[a-zA-Z0-9]+$'
        - name: method
          in: query
          schema:
            $ref: '#/components/schemas/PaymentMethodCode'
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: country
          in: query
          schema:
            $ref: '#/components/schemas/CountryCode'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, disabled]
      responses:
        '200':
          description: Paginated list of instruments.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/instruments/countries:
    get:
      tags: [Instruments]
      summary: List countries available for instrument creation
      operationId: listInstrumentCountries
      description: |
        Lightweight country list scoped to the countries Anton can deliver
        payouts to. Use this to populate country dropdowns in an instrument-
        creation form — paired with `/v1/instruments/methods` to build the
        full method picker.

        For the full reference catalog (including IS3 codes and currency
        lists), use `/v1/countries` instead.
      responses:
        '200':
          description: Supported instrument countries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [iso2, name]
                      properties:
                        iso2:
                          $ref: '#/components/schemas/CountryCode'
                        name:
                          type: string

  /v1/instruments/methods:
    get:
      tags: [Instruments]
      summary: List payment-method schemas per country
      operationId: listInstrumentMethods
      description: |
        Return the per-country method catalog with the exact credential-field
        schema required for each method. Use this to drive dynamic instrument-
        creation forms that know which fields to prompt for based on the
        selected country and method.
      parameters:
        - name: country
          in: query
          description: Filter to methods available in a specific country.
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Per-country method schemas.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentMethodSchema'

  /v1/instruments/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ins_[a-zA-Z0-9]+$'
    get:
      tags: [Instruments]
      summary: Retrieve an instrument
      operationId: getInstrument
      description: Return a single instrument by ID.
      responses:
        '200':
          description: Instrument.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Instruments]
      summary: Update an instrument
      operationId: updateInstrument
      description: |
        Update the mutable fields on an instrument — `label`, `is_default`, and
        `status`. Credentials cannot be updated; create a new instrument and
        delete the old one to replace them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 255
                is_default:
                  type: boolean
                status:
                  type: string
                  enum: [active, disabled]
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Instrument updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Instruments]
      summary: Delete an instrument
      operationId: deleteInstrument
      description: |
        Soft-delete an instrument. The instrument is removed from active listings
        and cannot be used on new payouts. Historical payouts referencing it
        remain accessible and unchanged.
      responses:
        '204':
          description: Instrument deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/balances:
    get:
      tags: [Balances]
      summary: List all balances
      operationId: listBalances
      description: |
        Return your merchant balance in every currency you hold. Each balance
        distinguishes between `available` (usable for new payouts), `pending`
        (reserved for in-flight payouts), and `total`.
      responses:
        '200':
          description: Balances across all currencies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/balances/{currency}:
    parameters:
      - name: currency
        in: path
        required: true
        description: ISO 4217 currency code (or stablecoin/crypto symbol).
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Balances]
      summary: Retrieve a balance by currency
      operationId: getBalance
      description: Return your merchant balance in a single currency.
      responses:
        '200':
          description: Balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No balance exists for this currency on your account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/accounts:
    get:
      tags: [Accounts]
      summary: List merchant funding accounts
      operationId: listAccounts
      description: |
        Return your virtual funding accounts — one per currency Anton has
        provisioned for you. Used for depositing funds into your merchant
        balance.
      responses:
        '200':
          description: Funding accounts.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MerchantAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/accounts/{currency}:
    parameters:
      - name: currency
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Accounts]
      summary: Retrieve a funding account
      operationId: getAccount
      description: Return the funding account for a single currency.
      responses:
        '200':
          description: Account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`account_not_found`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/accounts/{currency}/details:
    parameters:
      - name: currency
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Accounts]
      summary: Retrieve deposit details
      operationId: getAccountDetails
      description: |
        Return the banking / deposit details for your funding account in this
        currency — IBAN/BIC, sort code + account number, routing codes, etc.
        Share these with the sender to fund your balance.
      responses:
        '200':
          description: Account deposit details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/accounts/{currency}/transactions:
    parameters:
      - name: currency
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CurrencyCode'
    get:
      tags: [Accounts]
      summary: List transactions on a funding account
      operationId: listAccountTransactions
      description: |
        Cursor-paginated list of transactions for this funding account — deposits
        from external parties, payout debits, fee deductions, and FX transfers.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Transactions on this account.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/transactions:
    get:
      tags: [Accounts]
      summary: List transactions across all accounts
      operationId: listTransactions
      description: |
        Cursor-paginated list of transactions across every funding account you
        hold. Filter by currency, type, or time range as needed.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: type
          in: query
          description: Transaction type — `credit`, `debit`, `fee`, `fx`, etc.
          schema:
            type: string
        - name: created_after
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Transactions.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'







  /v1/pricing:
    get:
      tags: [Pricing]
      summary: List merchant pricing plans
      operationId: listMerchantPricing
      description: |
        Return the pricing plans active on your merchant account. Plans are
        scoped by currency, country, and method — more specific plans take
        priority.
      responses:
        '200':
          description: Active plans.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PricingPlan'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/pricing/quote:
    post:
      tags: [Pricing]
      summary: Quote a fee for a hypothetical payout
      operationId: createPricingQuote
      description: |
        Preview the fee that would apply for a given source/destination pair
        and amount. Useful for surfacing fees to your end user before they
        confirm a payout.

        **Bindable quotes (v1.0.0).** Every quote response includes a
        `quote_id` (prefix `pq_`) and an `expires_at` timestamp. You can
        bind the exact quoted fee to a subsequent payout by passing the
        `quote_id` on `POST /v1/payouts`. If the quote has expired, been
        already bound to another payout, or the payout's currencies/amount
        don't match the quote, the payout create call returns
        `422 quote_expired` / `422 quote_already_used` / `422 quote_mismatch`.
        Omit `quote_id` on the payout to let the platform re-price at
        submission time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_currency, dest_currency, amount]
              properties:
                source_currency:
                  $ref: '#/components/schemas/CurrencyCode'
                dest_currency:
                  $ref: '#/components/schemas/CurrencyCode'
                dest_country:
                  $ref: '#/components/schemas/CountryCode'
                method:
                  $ref: '#/components/schemas/PayoutMethod'
                amount:
                  $ref: '#/components/schemas/Money'
      responses:
        '200':
          description: Fee quote.
          content:
            application/json:
              schema:
                type: object
                required: [fee, fee_currency, fee_type, plan_id, quote_id, expires_at]
                properties:
                  fee:
                    $ref: '#/components/schemas/Money'
                  fee_currency:
                    $ref: '#/components/schemas/CurrencyCode'
                  fee_type:
                    type: string
                    enum: [fixed, percentage, hybrid, tiered]
                  plan_id:
                    type: string
                    pattern: '^prc_[a-zA-Z0-9]+$'
                  quote_id:
                    type: string
                    pattern: '^pq_[a-zA-Z0-9]+$'
                    description: Bindable quote identifier. Pass on `POST /v1/payouts` to lock this fee.
                  expires_at:
                    $ref: '#/components/schemas/Timestamp'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'

  /v1/corridors:
    get:
      tags: [Corridors]
      summary: List active corridors
      operationId: listCorridors
      description: |
        Return every active payout corridor on your merchant account. A corridor
        is a (rail_type, currency, country, method, network) combination Anton
        can deliver payouts through.

        Use this to validate a (country, currency, method) combination before
        attempting `POST /v1/payouts`. Corridors not listed here will return
        `corridor_not_enabled`.
      parameters:
        - name: rail_type
          in: query
          schema:
            $ref: '#/components/schemas/RailType'
        - name: currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: country
          in: query
          schema:
            $ref: '#/components/schemas/CountryCode'
      responses:
        '200':
          description: Active corridors.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Corridor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/webhooks:
    post:
      tags: [Webhooks]
      summary: Create a webhook subscription
      operationId: createWebhookSubscription
      description: |
        Register an HTTPS endpoint to receive event notifications. Anton POSTs
        signed JSON deliveries to the URL you supply every time an event from
        the `events` list fires on your merchant account.

        **Requirements:**
        - The URL must use `https://` (enforced outside development environments).
        - The URL must be publicly reachable — private, loopback, and metadata
          addresses are rejected.

        The response includes a `secret` — this is shown **once at creation**.
        Store it in your secrets manager immediately; Anton cannot recover it
        later. You can rotate the secret any time via
        `POST /v1/webhooks/{id}/secret/rotate`.

        See [Webhook Events](/api-reference/webhook-events) for the event catalog
        and [Webhook Signing](/api-reference/webhook-signing) for verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionCreateRequest'
      responses:
        '201':
          description: Subscription created. Includes the one-time signing secret.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/WebhookSubscription'
                  - type: object
                    properties:
                      secret:
                        type: string
                        description: Signing secret (`whsec_` + 64 hex). Shown once — store it now.
                        example: whsec_0a1b2c3d4e5f67890123456789abcdef0123456789abcdef0123456789abcdef
        '400':
          description: |
            - `webhook_url_required` — `url` missing.
            - `webhook_url_invalid` — `url` is malformed or hostless.
            - `webhook_url_not_https` — HTTP scheme used outside development.
            - `webhook_url_private_address` — URL resolves to a private / loopback / metadata address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [Webhooks]
      summary: List webhook subscriptions
      operationId: listWebhookSubscriptions
      description: Return all webhook subscriptions on your merchant account.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive]
      responses:
        '200':
          description: List of subscriptions.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/webhooks/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^wbh_[a-zA-Z0-9]+$'
    get:
      tags: [Webhooks]
      summary: Retrieve a webhook subscription
      operationId: getWebhookSubscription
      responses:
        '200':
          description: Subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Webhooks]
      summary: Delete a webhook subscription
      operationId: deleteWebhookSubscription
      description: |
        Permanently delete a subscription. Event history and past delivery
        records are retained for audit, but no new deliveries will be attempted.
        Prefer `POST /v1/webhooks/{id}/deactivate` if you may re-enable later.
      responses:
        '204':
          description: Subscription deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/webhooks/{id}/secret:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^wbh_[a-zA-Z0-9]+$'
    get:
      tags: [Webhooks]
      summary: Retrieve the current signing secret
      operationId: getWebhookSecret
      description: |
        Return the current HMAC signing secret for this subscription. Use this
        if you lost the secret after creation — the endpoint is audited and
        rate-limited for safety.
      responses:
        '200':
          description: Current secret.
          content:
            application/json:
              schema:
                type: object
                required: [secret]
                properties:
                  secret:
                    type: string
                    description: '`whsec_` + 64 hex.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/webhooks/{id}/secret/rotate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^wbh_[a-zA-Z0-9]+$'
    post:
      tags: [Webhooks]
      summary: Rotate the signing secret
      operationId: rotateWebhookSecret
      description: |
        Generate a fresh signing secret. The old secret is invalidated immediately.
        There is no overlap window — any delivery in flight may be signed with
        either secret depending on when it was queued; plan rotations for a
        quiet period.

        The new secret is shown **once** in the response. Store it now.
      responses:
        '200':
          description: Rotated. Response carries the new secret.
          content:
            application/json:
              schema:
                type: object
                required: [secret]
                properties:
                  secret:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/webhooks/{id}/test:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^wbh_[a-zA-Z0-9]+$'
    post:
      tags: [Webhooks]
      summary: Send a test delivery
      operationId: testWebhookSubscription
      description: |
        Dispatch a synthetic `test` event to this subscription right now. Useful
        for verifying signature verification, network reachability, and logging
        pipelines without waiting for a real event.

        Rate-limited.
      responses:
        '202':
          description: Test event queued for delivery.
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_id:
                    type: string
                    pattern: '^evt_[a-zA-Z0-9]+$'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/webhooks/{id}/deactivate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^wbh_[a-zA-Z0-9]+$'
    post:
      tags: [Webhooks]
      summary: Deactivate a webhook subscription
      operationId: deactivateWebhookSubscription
      description: |
        Stop delivering events to this subscription without deleting it. The
        subscription moves to `inactive` and can be reactivated by updating its
        status (contact support or wait for a re-activation endpoint).
      responses:
        '200':
          description: Subscription deactivated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/webhooks/events:
    get:
      tags: [Webhooks]
      summary: List webhook events
      operationId: listWebhookEvents
      description: |
        Return the history of webhook events generated on your merchant account.
        Events persist independently of delivery — you can inspect and replay
        them via `/deliveries` below.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/WebhookEventType'
        - name: created_after
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of events.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/webhooks/events/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^evt_[a-zA-Z0-9]+$'
    get:
      tags: [Webhooks]
      summary: Retrieve a webhook event
      operationId: getWebhookEvent
      responses:
        '200':
          description: Event with full payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/webhooks/events/{id}/deliveries:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^evt_[a-zA-Z0-9]+$'
    get:
      tags: [Webhooks]
      summary: List deliveries for an event
      operationId: listWebhookDeliveries
      description: |
        Return every attempt Anton made to deliver this event to every
        subscribed endpoint. Each attempt records the request headers, response
        status, body, duration, and retry schedule — useful for debugging
        failing integrations.
      responses:
        '200':
          description: Delivery history.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookDelivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'





  /v1/fx/quote:
    post:
      tags: [FX]
      summary: Create a lockable FX quote
      operationId: createFXQuote
      description: |
        Request a lockable exchange rate between two currencies. Quotes have a
        short expiry window; use the returned `id` on
        `POST /v1/fx/exchange` to lock the rate before expiry.

        Rate-limited to 30 per minute per IP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FXQuoteCreateRequest'
      responses:
        '201':
          description: Quote created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FXQuote'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: '`currency_not_supported` or other pricing error.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          description: '`fx_rates_unavailable` — upstream rate provider did not respond.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: |
[...]
