# Canonical, hand-authored OpenAPI spec for the Anton Payments v1.0.0
# customer-facing public API. Mirrored in the docs repo at
# openapi-merchant.yaml and served publicly via Mintlify — edits here
# MUST be mirrored to docs/openapi-merchant.yaml in the docs repo.
#
# Generated from `api/docs/openapi.yaml` per ANT-313 by stripping
# portal-only path leaks. Portal-only paths (now under
# `/internal/v1/app/*`) and ops paths (`/internal/v1/ops/*`) are
# documented in their own audience-filtered specs (ANT-314 / ANT-315 —
# pending).

openapi: 3.1.0

info:
  title: Anton Payments API
  version: 1.0.0
  summary: Cross-border payout infrastructure. Fiat, stablecoin, and crypto.
  description: |
    The Anton Payments merchant API. Versioned, idempotent, cursor-paginated.

    - **Authentication**: OAuth 2.0 client_credentials with DPoP proof-of-possession (RFC 6749 §4.4 + RFC 9449). Programmatic clients exchange `(client_id, client_secret)` for a short-lived access token at `POST /oauth/token`, then send each request with `Authorization: DPoP <access_token>` plus a per-request `DPoP: <proof>` header. Static API keys are not accepted on v1.
    - Base URLs: `https://api.antonpayments.com` (production), `https://api.antonpayments.dev` (sandbox).
    - Monetary amounts are decimal strings. Never floats.
    - Timestamps are RFC 3339 UTC.
    - All mutating endpoints support the `Idempotency-Key` header.
    - Anton's OAuth public signing key is published at `GET /.well-known/jwks.json` (5-minute cache; RFC 8615).

    **Capabilities and scopes.** Every account carries a capability set (`payouts`, `intelligence`) and every
    credential carries a scope set validated against it at creation. AI-compliance-only accounts hold only
    `intelligence` — all payout-surface endpoints return `403 capability_required` for them. A credential
    minted without a scope returns `403 insufficient_scope` on that surface. Effective access is
    `scopes ∩ capabilities`. Access tokens embed the grants as a space-delimited `scope` claim, echoed in the
    token response.

    **What machine credentials can never do.** Approval decisions (payout approve/reject — maker-checker
    requires a human identity) and detokenized PII readback (beneficiary PII, verification name reveal,
    captured-document viewing) are dashboard-only: those operations require a signed-in portal user with the
    right role, and every access is audit-logged. Machine credentials can deposit and replace PII — your
    system is its source — but can never read it back, so a leaked credential cannot harvest identities.

    See the Cross-Cutting section of the docs for idempotency, pagination, rate limits, errors, webhook events, and webhook signing.
  contact:
    name: Anton Payments Support
    url: https://help.antonpayments.com
  license:
    name: Proprietary
    url: https://www.antonpayments.com

servers:
  - url: https://api.antonpayments.com
    description: Production
  - url: https://api.antonpayments.dev
    description: Sandbox

security:
  - oauthDPoP: []
    dpopHeader: []

tags:
  - name: Authentication
    description: OAuth 2.0 token endpoint and JWKS publication. See the API description for the full DPoP-bound flow.
  - name: OAuth Clients
    description: Manage OAuth credentials (programmatic access). Portal-only — JWT auth required.
  - name: Reference Data
    description: Currencies, countries, and supported payment methods.
  - name: Beneficiaries
    description: Create and manage the people and businesses you pay.
  - name: Instruments
    description: Payment instruments attached to beneficiaries — bank accounts, wallets, cards.
  - name: Payouts
    description: Initiate and track payouts.
  - name: Batches
    description: CSV-driven bulk payout processing.
  - name: Balances
    description: Merchant balance by currency.
  - name: Accounts
    description: Virtual accounts for merchant funding.
  - name: Webhooks
    description: Subscribe to event notifications.
  - name: Documents
    description: Upload and manage KYB and supporting documents.
  - name: RFIs
    description: Respond to Requests for Information raised during review.
  - name: Pricing
    description: Read merchant pricing plans and quote fees.
  - name: FX
    description: Quote, lock, and execute currency exchanges between balances.
  - name: Corridors
    description: Active cross-border corridors for your merchant.
  - name: Balance Alerts
    description: Per-currency low-balance thresholds that drive the `balance.low` webhook event.
  - name: Sandbox
    description: Reset and seed your sandbox environment.
  - name: Merchant
    description: Merchant profile, branding, preferences, and security posture.
  - name: API Keys
    description: Issue, list, and revoke API keys.
  - name: Users
    description: Self-service profile, MFA, and team management.
  - name: Notifications
    description: Per-user notification channels and preferences.
  - name: Velocity
    description: Merchant-scoped risk rules and what-if simulation.
  - name: Engine
    description: Glass-box view of Anton's risk intelligence.
  - name: Intelligence
    description: Normalized payee, instrument, payout, and merchant risk intelligence evaluations.
  - name: Verifications
    description: KYC/KYB-as-a-service — verify the identity of your customers and their businesses through Anton-hosted flows, with sanctions screening built in.
  - name: Onboarding
    description: Authenticated KYB onboarding draft and submission.
  - name: Public Onboarding
    description: Session-authenticated hosted onboarding flow. Not intended for SDK consumption.

paths:
  /v1/intelligence/evaluations:
    post:
      tags: [Intelligence]
      summary: Create an intelligence evaluation
      description: |
        Evaluates payee, instrument, payout, merchant onboarding, or monitoring inputs through Anton Intelligence.

        The request contract is strict and uses fixed enums so enterprise clients can generate SDKs safely.
        Direct PII may be supplied over TLS or recovered from a vault token; Anton uses it in memory for the evaluation and persists only redacted decision evidence.

        **Per-use-case required fields.** Beyond the always-required `use_case` and `entity.type`, each
        use case imposes additional requirements (a `422 validation_error` otherwise):
        - `payee_registration` — `entity.name` OR `entity.vault_token_id`.
        - `merchant_onboarding` — `entity.type` must be `business`, plus `entity.name` OR `entity.vault_token_id`.
        - `instrument_screening` — an `instrument` block.
        - `payout_screening` — a `payout` block, plus searchable `entity` or `instrument` data.
        - `monitoring` — searchable `entity` or `instrument` data.
        These conditional requirements can't be expressed in the static `required` arrays below, so they are
        enumerated here.

        **Dual surface.** With OAuth+DPoP credentials, the evaluation is persisted under YOUR merchant account
        (retrievable via the scoped reads below) and the `Idempotency-Key` header is REQUIRED. The credential
        must carry the `intelligence` scope and the account the `intelligence` capability — every Anton account
        has it, including AI-compliance-only merchants. Vault-token enrichment only accepts tokens owned by the
        calling merchant. Without credentials, the request runs on the anonymous public TEST surface (where
        enabled) under a synthetic shared merchant — public evaluations are not tied to your account.

        **Asynchronous money-movement evaluations.** On the authenticated (OAuth+DPoP) surface, a
        `payout_screening` evaluation runs the full AI panel and can take up to ~20 seconds, so it is accepted
        asynchronously: the response is `202 Accepted` with `{evaluation_id, status: "pending"}` and a
        `Location` header. Poll `GET /v1/intelligence/evaluations/{id}` (which returns the pending state until
        the evaluation settles), or subscribe to the `intelligence.evaluation.completed` /
        `intelligence.evaluation.failed` webhook events for push notification. All other use cases — and every
        call on the anonymous test surface — respond synchronously with `200` and the full evaluation.
      security:
        - {}
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            maxLength: 255
          description: Recommended for enterprise retries (REQUIRED on the authenticated surface). If both this header and body `idempotency_key` are supplied, the header wins.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntelligenceEvaluationRequest'
            examples:
              payee_registration:
                summary: Payee registration
                value:
                  use_case: payee_registration
                  client_reference_id: payee_john_doe_001
                  entity:
                    type: person
                    reference_id: payee_john_doe
                    name: John Doe
                    country: US
                    birth_date: "1979-12-30"
              crypto_wallet:
                summary: Crypto wallet screening
                value:
                  use_case: instrument_screening
                  entity:
                    type: person
                    reference_id: payee_john_doe
                    name: John Doe
                    country: US
                  instrument:
                    type: crypto_wallet
                    country: US
                    currency: BTC
                    crypto_wallet:
                      network: bitcoin
                      address: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
              bank_account:
                summary: Bank account screening
                value:
                  use_case: instrument_screening
                  entity:
                    type: person
                    reference_id: payee_john_doe
                    name: John Doe
                    country: US
                  instrument:
                    type: bank_account
                    country: US
                    currency: USD
                    bank_account:
                      routing_number: "021000021"
                      account_number: "000123456789"
                      account_type: checking
      responses:
        '200':
          description: Evaluation created (synchronous use cases).
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/IntelligenceEvaluation'
        '202':
          description: |
            Evaluation accepted for asynchronous processing (`payout_screening` on the authenticated
            surface). Poll the `Location` URL or subscribe to `intelligence.evaluation.completed`.
          headers:
            Location:
              schema:
                type: string
              description: Polling URL for the accepted evaluation.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/PendingIntelligenceEvaluation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [Intelligence]
      summary: List your intelligence evaluations
      description: |
        Pages the authenticated merchant's evaluations, newest first. Authenticated-only — there is no
        anonymous variant. Strictly merchant-scoped: only evaluations created under your account appear.
        Requires the `intelligence` credential scope and account capability.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Page of evaluations.
          content:
            application/json:
              schema:
                type: object
                required: [data, has_more, next_cursor]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntelligenceEvaluation'
                  has_more:
                    type: boolean
                  next_cursor:
                    type: string
                    description: Opaque keyset cursor. Empty string on the last page.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/intelligence/evaluations/validate:
    post:
      tags: [Intelligence]
      summary: Validate an intelligence evaluation request
      description: Validates the strict request contract without creating or persisting an evaluation. Works on both the authenticated and (where enabled) anonymous public surface.
      security:
        - {}
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            maxLength: 255
          description: Optional. If both this header and body `idempotency_key` are supplied, the header wins during validation mapping.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntelligenceEvaluationRequest'
      responses:
        '200':
          description: Request is valid and can be mapped to an internal event.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/ValidateIntelligenceEvaluationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/intelligence/evaluations/{id}:
    get:
      tags: [Intelligence]
      summary: Retrieve an intelligence evaluation
      description: |
        Strictly scoped to the calling surface: authenticated callers can only retrieve evaluations created
        under their own merchant account; anonymous callers can only retrieve public-test evaluations.
        A foreign evaluation ID is a 404 — indistinguishable from a nonexistent one.
      security:
        - {}
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - $ref: '#/components/parameters/IntelligenceEvaluationID'
      responses:
        '200':
          description: Concise evaluation result.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/IntelligenceEvaluation'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/intelligence/evaluations/{id}/evidence:
    get:
      tags: [Intelligence]
      summary: Retrieve obscured intelligence evidence
      description: Returns provider-neutral, PII-free evidence and records an audit event. Scoped identically to the evaluation read — your own evaluations only.
      security:
        - {}
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - $ref: '#/components/parameters/IntelligenceEvaluationID'
      responses:
        '200':
          description: Obscured normalized evidence.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/IntelligenceEvidence'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/verification-subjects:
    get:
      tags: [Verifications]
      summary: List verification subjects
      operationId: listVerificationSubjects
      description: |
        Pages the merchant's verification subjects, newest first. Each row carries a single
        synthesized latest attempt with the subject's current status; fetch the detail endpoint
        for the full attempt history.

        `display_name` is **masked** on every read (`J•••••• D••`). The true name is available only
        through the dashboard's audited reveal flow — it is never returned on this surface.

        Requires the `intelligence` credential scope and account capability.
      parameters:
        - name: type
          in: query
          required: false
          description: Filter by subject type.
          schema:
            type: string
            enum: [person, business]
        - name: status
          in: query
          required: false
          description: Filter by the subject's current verification status.
          schema:
            $ref: '#/components/schemas/VerificationStatus'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Page of verification subjects.
          content:
            application/json:
              schema:
                type: object
                required: [data, has_more, next_cursor]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VerificationSubject'
                  has_more:
                    type: boolean
                  next_cursor:
                    type: string
                    description: Opaque cursor. Empty string on the last page.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags: [Verifications]
      summary: Create a verification subject
      operationId: createVerificationSubject
      description: |
        Creates a verification subject (a person or a business) and opens its first verification
        attempt. Anton mints a **hosted verification link** — a one-time Persona flow where the
        subject submits their government ID and selfie (person) or business details plus a UBO
        cascade (business). Identity documents live with the verification provider and Anton's
        vault; they never touch your systems.

        **Link delivery.** With `delivery: "email"`, Anton emails the link to the subject and the
        attempt is created with status `sent`. If the environment cannot deliver email — or you
        choose `delivery: "manual"` — the status is `created` and YOU deliver the returned
        `hosted_link` through your own channel. Only trust `sent` as proof an email went out.

        **`hosted_link` is secret-once.** It appears in this response (and on resend / regenerate /
        re-verify responses) and is never readable again. Treat it like a credential: it opens a
        flow that collects your customer's identity documents.

        Track progress via the `verification.*` webhook events or by polling the subject.
        Requires the `intelligence` credential scope and account capability.
      security:
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVerificationSubjectRequest'
            examples:
              person_email_delivery:
                summary: Verify a person, Anton delivers the link
                value:
                  type: person
                  display_name: Ada Lovelace
                  email: ada@example.com
                  external_ref: customer_8841
                  country: CA
                  delivery: email
                  message: "Hi Ada — please verify your identity so we can activate your account."
                  link_expires_in_days: 7
              business_manual_delivery:
                summary: Verify a business, deliver the link yourself
                value:
                  type: business
                  display_name: Maple Exports Inc.
                  email: finance@mapleexports.example
                  country: CA
                  delivery: manual
                  link_expires_in_days: 30
      responses:
        '201':
          description: Subject created; first verification attempt opened.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [subject, verification]
                    properties:
                      subject:
                        $ref: '#/components/schemas/VerificationSubject'
                      verification:
                        $ref: '#/components/schemas/VerificationAttempt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: The verification provider is not configured on this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/verification-subjects/{id}:
    get:
      tags: [Verifications]
      summary: Get a verification subject
      operationId: getVerificationSubject
      description: |
        Returns the subject with its **full attempt history** — every verification opened for this
        person or business, newest first, each with its checks, sanctions-screening block, and (for
        businesses) the UBO cascade. `hosted_link` is never present on reads.
      parameters:
        - $ref: '#/components/parameters/VerificationSubjectID'
      responses:
        '200':
          description: The subject.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/VerificationSubject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/verification-subjects/{id}/verifications:
    post:
      tags: [Verifications]
      summary: Re-verify a subject
      operationId: reverifySubject
      description: |
        Opens a **new verification attempt** for an existing subject (periodic KYC refresh, or a
        material change in the subject's details). The prior attempt history is preserved; the
        subject's current status now tracks the new attempt. The response carries the new attempt
        with its secret-once `hosted_link`; when the subject has an email on file, Anton also
        re-delivers the link (status `sent`).
      security:
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - $ref: '#/components/parameters/VerificationSubjectID'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: New attempt opened.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/VerificationAttempt'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: The verification provider is not configured on this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/verifications/{id}/resend:
    post:
      tags: [Verifications]
      summary: Resend a verification link
      operationId: resendVerificationLink
      description: |
        Mints a fresh one-time hosted link for the **same attempt** and re-delivers it to the
        subject's email when one is on file. Use when the previous link expired unused or never
        arrived. Fails with `422` on attempts in a terminal state (approved, declined, expired,
        revoked) — open a new attempt via re-verify instead.
      security:
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - $ref: '#/components/parameters/VerificationID'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Fresh link minted (secret-once, in `hosted_link`).
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/VerificationAttempt'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          description: The attempt is in a terminal state and cannot be resent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: The verification provider is not configured on this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/verifications/{id}/regenerate:
    post:
      tags: [Verifications]
      summary: Regenerate a verification
      operationId: regenerateVerification
      description: |
        **Invalidates the prior link and inquiry** and opens a fresh attempt for the same subject
        (reason `regenerated`). Use when a link may have been forwarded or exposed — the old flow
        is dead the moment this returns. Responds `201` with the new attempt and its secret-once
        `hosted_link`.
      security:
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - $ref: '#/components/parameters/VerificationID'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Fresh attempt opened; prior link invalidated.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/VerificationAttempt'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: The verification provider is not configured on this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/verifications/{id}/revoke:
    post:
      tags: [Verifications]
      summary: Revoke a verification
      operationId: revokeVerification
      description: |
        Terminally cancels an in-flight attempt and expires its hosted link. The attempt moves to
        `revoked` and cannot be resumed — open a new attempt via re-verify if the subject should
        be verified later. Fails with `422` when the attempt is already terminal.
      security:
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - $ref: '#/components/parameters/VerificationID'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Attempt revoked.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/VerificationAttempt'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          description: The attempt is already in a terminal state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/verifications/{id}/owners/{uboId}/resend:
    post:
      tags: [Verifications]
      summary: Resend an owner's verification link
      operationId: resendOwnerVerificationLink
      description: |
        Business verifications cascade to each controlling owner (UBO), who completes an individual
        KYC flow. This mints a fresh one-time link for a single owner and re-delivers it to the
        owner's email when one is on file. The link is returned secret-once.
      security:
        - oauthDPoP: []
          dpopHeader: []
      parameters:
        - $ref: '#/components/parameters/VerificationID'
        - name: uboId
          in: path
          required: true
          description: Owner (UBO) ID within the verification.
          schema:
            type: string
            pattern: '^vubo_[a-zA-Z0-9]+$'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Fresh owner link minted.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [hosted_link]
                    properties:
                      hosted_link:
                        type: string
                        description: Secret-once hosted link for this owner's individual flow.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: The verification provider is not configured on this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/verification-stats:
    get:
      tags: [Verifications]
      summary: Verification overview stats
      operationId: getVerificationStats
      description: |
        Aggregates across the merchant's verification subjects: totals by outcome, pass rate,
        median completion time, and weekly started counts. Powers the dashboard overview; useful
        for your own monitoring.
      responses:
        '200':
          description: Aggregates.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/VerificationStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CapabilityForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /oauth/token:
    post:
      tags: [Authentication]
      summary: Mint a DPoP-bound access token
      description: |
        Exchange `(client_id, client_secret)` plus a DPoP proof for an OAuth 2.0 access token bound to the merchant's registered DPoP keypair. RFC 6749 §4.4 (client_credentials) + RFC 9449 §5.

        Send credentials via HTTP Basic auth (`Authorization: Basic <base64(client_id:client_secret)>`) — body fallback is also accepted. The `DPoP` header is required and MUST carry a proof JWT signed by the merchant's private DPoP key with `htm=POST`, `htu=https://api.../oauth/token`, fresh `iat` / `jti`, and NO `ath` claim (the access token does not exist yet).

        Token TTL is **1 hour** in production / staging and **8 hours** in sandbox. There are no refresh tokens — call this endpoint again to mint a fresh token.
      security: []
      parameters:
        - in: header
          name: DPoP
          required: true
          schema: { type: string }
          description: DPoP proof JWT for this token request.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials]
                client_id:
                  type: string
                  description: Optional when supplied via Basic auth header.
                client_secret:
                  type: string
                  description: Optional when supplied via Basic auth header.
      responses:
        '200':
          description: Access token minted.
          headers:
            Cache-Control: { schema: { type: string }, description: '`no-store` per RFC 6749 §5.1.' }
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in, scope]
                properties:
                  access_token:
                    type: string
                    description: "Signed JWT to send as `Authorization: DPoP <token>`."
                  token_type:
                    type: string
                    enum: [DPoP]
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds.
                  scope:
                    type: string
                    description: |
                      Space-delimited granted scopes (RFC 6749 §3.3), echoing the
                      credential's grants — the same values embedded in the access
                      token's `scope` claim. e.g. `payouts intelligence`.
        '400':
          description: Invalid request, unsupported_grant_type, or invalid DPoP proof.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthError' }
        '401':
          description: invalid_client (unknown client_id or wrong secret).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthError' }
        '403':
          description: Test client used in production.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthError' }

  /.well-known/jwks.json:
    get:
      tags: [Authentication]
      summary: Public OAuth signing key set
      description: |
        Serves the public half of Anton's OAuth signing key (or keys, during a 24h rotation overlap) as a JSON Web Key Set. SDKs and external verifiers fetch this to verify access tokens locally without a DB hit. Cached 5 minutes.
      security: []
      responses:
        '200':
          description: JWKS document.
          headers:
            Cache-Control: { schema: { type: string }, description: '`public, max-age=300`.' }
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/JSONWebKey' }




  /v1/currencies:
    get:
      tags: [Reference Data]
      summary: List supported currencies
      operationId: listCurrencies
      description: |
        Return every currency Anton supports, across fiat, crypto, and stablecoin.
        Use these codes when building payout or FX requests.
      responses:
        '200':
          description: Supported currencies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
              example:
                data:
                  - code: USD
                    name: US Dollar
                    decimals: 2
                    symbol: "$"
                    type: fiat
                  - code: USDC
                    name: USD Coin
                    decimals: 6
                    symbol: USDC
                    type: stablecoin

  /v1/countries:
    get:
      tags: [Reference Data]
      summary: List supported countries
      operationId: listCountries
      description: |
        Return every destination country Anton can deliver payouts to, along with
        the currencies each country supports.
      responses:
        '200':
          description: Supported countries.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'

  /v1/payment-methods:
    get:
      tags: [Reference Data]
      summary: List supported payment methods
      operationId: listPaymentMethods
      description: |
        Return the catalog of payment-method descriptors — each row is a credential
        format (IBAN, UK bank, US bank, IPX proxies, crypto, card, mobile money)
        with the countries where it's supported.

        Use this endpoint to drive dynamic instrument-creation UI: pick a country,
        filter to supported methods, prompt for the right credential fields.
      responses:
        '200':
          description: Supported payment methods.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethodDescriptor'

  /v1/beneficiaries:
    post:
      tags: [Beneficiaries]
      summary: Create a beneficiary
      operationId: createBeneficiary
      description: |
        Create a person (`individual`) or business (`business`) you want to pay. PII
        submitted in the request body is tokenized in Basis Theory on creation — only
        a display name, country, and opaque token reference are stored in the Anton
        database.

        To retrieve the PII you submitted, use `GET /v1/beneficiaries/{id}/pii`.

        This endpoint requires an `Idempotency-Key` header. Duplicate calls with the
        same key return the original beneficiary; different bodies with the same key
        return `409 idempotency_conflict`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryCreateRequest'
            examples:
              individual:
                summary: Individual beneficiary
                value:
                  type: individual
                  country: GB
                  external_ref: contractor-1042
                  individual:
                    first_name: Jane
                    last_name: Smith
                    email: jane@example.com
                    phone: "+442079460000"
                    date_of_birth: "1988-05-12"
                    nationality: GB
                    address:
                      street_line_1: 10 Example Street
                      city: London
                      postal_code: SW1A 1AA
                      country: GB
              business:
                summary: Business beneficiary
                value:
                  type: business
                  country: DE
                  business:
                    legal_name: Example GmbH
                    registration_number: HRB12345
                    email: ap@example.de
                    phone: "+493012345678"
                    entity_type: llc
                    incorporation_country: DE
                    address:
                      street_line_1: Beispielstraße 1
                      city: Berlin
                      postal_code: "10115"
                      country: DE
      responses:
        '201':
          description: Beneficiary created.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Idempotent-Replayed:
              $ref: '#/components/headers/X-Idempotent-Replayed'
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Beneficiary'
        '400':
          $ref: '#/components/responses/IdempotencyConflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Beneficiaries]
      summary: List beneficiaries
      operationId: listBeneficiaries
      description: |
        List beneficiaries scoped to your merchant. Results are cursor-paginated and
        sorted by creation time descending.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Filter by beneficiary status.
          required: false
          schema:
            type: string
            enum: [active, archived, blocked]
        - name: type
          in: query
          description: Filter by beneficiary type.
          required: false
          schema:
            type: string
            enum: [individual, business]
        - name: country
          in: query
          description: Filter by ISO-3166 alpha-2 country code.
          required: false
          schema:
            $ref: '#/components/schemas/CountryCode'
        - name: search
          in: query
          description: Substring match on the beneficiary's display name / external reference.
          required: false
          schema:
            type: string
        - name: created_via
          in: query
          description: Filter by how the beneficiary was created.
          required: false
          schema:
            type: string
            enum: [api, batch, portal]
        - name: source_batch_id
          in: query
          description: |
            Filter to beneficiaries a specific batch created or first referenced
            (ANT-105 provenance). Prefixed `bat_`.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of beneficiaries.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Beneficiary ID (prefixed `ben_`).
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
          example: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
    get:
      tags: [Beneficiaries]
      summary: Retrieve a beneficiary
      operationId: getBeneficiary
      description: Return a single beneficiary by ID. Returns `404` if the beneficiary does not exist or belongs to a different merchant.
      responses:
        '200':
          description: Beneficiary.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      tags: [Beneficiaries]
      summary: Update a beneficiary
      operationId: updateBeneficiary
      description: |
        Update mutable fields on a beneficiary: `display_name`, `country`, `external_ref`,
        and `metadata`. PII cannot be updated via this endpoint — use
        `PUT /v1/beneficiaries/{id}/pii` instead, since PII is tokenized.

        Fields not present in the request body are left unchanged.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryUpdateRequest'
      responses:
        '200':
          description: Beneficiary updated.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Beneficiaries]
      summary: Delete a beneficiary
      operationId: deleteBeneficiary
      description: |
        Soft-deletes a beneficiary. The record is removed from active listings and
        can no longer be used to initiate new payouts. Historical payouts referencing
        this beneficiary remain unchanged and accessible.

        Archiving is typically preferred over deletion — see
        `POST /v1/beneficiaries/{id}/archive`. Archiving preserves the beneficiary
        in a disabled state that can be restored later.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Beneficiary deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/pii:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    put:
      tags: [Beneficiaries]
      summary: Replace beneficiary PII
      operationId: updateBeneficiaryPII
      description: |
        Replaces the PII stored in Basis Theory for this beneficiary. The entire PII
        blob is replaced — partial updates are not supported, because tokens are
        immutable.

        Supply the detail block matching the beneficiary's `type` (`individual` or
        `business`). The `display_name` on the beneficiary record is automatically
        re-derived from the new PII.

        **PII is write-only for machine credentials.** Your system is the source of
        the data, so you can deposit and replace it — but there is no companion GET
        on this surface: detokenized PII readback exists only in the merchant
        dashboard, restricted to admin users, with every access recorded in the
        audit log (PCI DSS 10.2.1). A leaked API credential therefore cannot
        harvest beneficiary identities.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryPIIUpdateRequest'
      responses:
        '200':
          description: Beneficiary PII replaced. Returns the updated beneficiary record.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/archive:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Archive a beneficiary
      operationId: archiveBeneficiary
      description: |
        Soft-disables a beneficiary. The record is preserved and can be restored later,
        but it cannot be used to initiate new payouts while archived. PII remains
        tokenized and accessible.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
                  description: IP address of the merchant's end-user who initiated this action.
      responses:
        '200':
          description: Beneficiary archived. Returns the updated record.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/restore:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Restore an archived beneficiary
      operationId: restoreBeneficiary
      description: |
        Restores a previously archived beneficiary to active status. Beneficiaries
        blocked by compliance cannot be restored via this endpoint — contact support.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Beneficiary restored.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/rescore:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Rescore a beneficiary
      operationId: rescoreBeneficiary
      description: |
        Ask the Anton Engine for a fresh Payee-pillar risk evaluation of this
        beneficiary now, instead of waiting for the next scheduled cadence.
        Synchronous: on success the response carries the new and previous
        risk scores (0–1000 integers, higher is ALWAYS worse) and tiers.

        Not the same as `POST /v1/beneficiaries/{id}/rescreen`, which runs
        compliance screening (sanctions/PEP) rather than risk scoring.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Rescore complete.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/BeneficiaryRescoreResult'
        '202':
          description: A rescore for this beneficiary is already running; no retry needed.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [in_flight]
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: >-
            Unknown beneficiary (`beneficiary_not_found`), or the engine has
            no profile for it yet (`engine_beneficiary_not_found`) — try again
            after the beneficiary's next payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: >-
            The beneficiary is in a terminal scoring state and cannot be
            rescored (`beneficiary_scoring_locked`), or the same
            `Idempotency-Key` was reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: >-
            A rescore completed recently (`rescore_rate_limited`) — retry
            after the `Retry-After` interval — or the standard rate limit.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Manual rescore is not enabled on this API (`rescore_not_configured`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: >-
            The risk engine is temporarily unreachable (`engine_unavailable`) —
            a transport failure or an engine 5xx. Transient; retry after the
            `Retry-After` interval.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/beneficiaries/{id}/rescreen:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Re-screen a beneficiary
      operationId: rescreenBeneficiary
      description: |
        Queue a fresh compliance screen (sanctions / PEP / adverse media) of
        an active beneficiary. Asynchronous: responds `202` immediately and
        the screening worker runs the check. A non-clear outcome blocks the
        beneficiary pending review and dispatches `screening.hit` and
        `beneficiary.blocked` webhook events; a clear outcome changes
        nothing. Both the request and the screening outcome are audited.

        Not the same as `POST /v1/beneficiaries/{id}/rescore`, which
        recomputes the engine risk score.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '202':
          description: Screening queued.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [beneficiary_id, status]
                    properties:
                      beneficiary_id:
                        type: string
                        pattern: '^ben_[a-zA-Z0-9]+$'
                      status:
                        type: string
                        enum: [queued]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: >-
            Only active beneficiaries can be re-screened
            (`beneficiary_not_active`), or the same `Idempotency-Key` was
            reused with a different body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          description: Compliance rescreen is not enabled on this API (`rescreen_not_configured`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/payouts:
    post:
      tags: [Payouts]
      summary: Create a payout
      operationId: createPayout
      description: |
        Initiate a payout from your merchant balance to a beneficiary's payment
        instrument. The payout goes through compliance screening, velocity
        evaluation, and engine risk scoring before being submitted to a rail — see
        [How Anton Evaluates Payouts](/how-anton-evaluates-payouts) for the full
        lifecycle.

        The initial status is `created`. The payout transitions to
        `pending_screening` within moments and its subsequent state changes are
        delivered via `payout.*` webhook events. Do not poll.

        Both `source_amount` and `dest_amount` must be provided along with
        `fixed_side` (`fixed_source` or `fixed_dest`) indicating which amount is
        authoritative. The other amount is recomputed on the backend using the
        current corridor pricing. An FX quote may be locked via `POST /v1/fx/quote`
        if you need rate certainty before submission.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCreateRequest'
            examples:
              same_currency:
                summary: Same-currency USD payout
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
                  source_amount: "500.00"
                  source_currency: USD
                  dest_amount: "500.00"
                  dest_currency: USD
                  method: ach
                  rail_type: fiat
                  fixed_side: fixed_dest
                  purpose: contractor_payment
                  reference: INV-1042
              cross_currency:
                summary: USD -> EUR SEPA
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA2
                  source_amount: "550.00"
                  source_currency: USD
                  dest_amount: "500.00"
                  dest_currency: EUR
                  method: sepa
                  rail_type: fiat
                  fee_bearer: merchant
                  fixed_side: fixed_dest
                  purpose: supplier_payment
                  reference: PO-8821
              stablecoin:
                summary: USDC on Ethereum
                value:
                  beneficiary_id: ben_01HX8Z9K0M2N3P4Q5R6S7T8UA1
                  instrument_id: ins_01HX8Z9K0M2N3P4Q5R6S7T8UA3
                  source_amount: "1000.00"
                  source_currency: USDC
                  dest_amount: "1000.00"
                  dest_currency: USDC
                  method: stablecoin
                  rail_type: stablecoin
                  fixed_side: fixed_dest
                  purpose: contractor_payment
                  reference: INV-1042
      responses:
        '201':
          description: Payout created. Subsequent lifecycle is reported via webhooks.
          headers:
            X-Idempotent-Replayed:
              $ref: '#/components/headers/X-Idempotent-Replayed'
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — common causes include merchant not approved, corridor not enabled, or velocity rule blocking (`velocity_blocked`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Beneficiary or instrument not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          description: |
            Unprocessable. Codes: `validation_error` (bad/missing fields),
            `insufficient_balance` (funding currency can't cover the debit),
            `payout_rejected` (rejected during screening/velocity/routing — e.g.
            no fundable corridor for the resolved source currency), or the
            beneficiary/instrument is not eligible (archived, disabled, wrong
            currency).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorEnvelope'
                  - $ref: '#/components/schemas/ValidationErrorEnvelope'
              examples:
                insufficient_balance:
                  value:
                    error:
                      code: insufficient_balance
                      message: insufficient funds for this payout
                validation:
                  value:
                    error:
                      code: validation_error
                      message: request failed validation
                      details:
                        - field: dest_currency
                          message: must be a valid ISO-4217 currency code
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [Payouts]
      summary: List payouts
      operationId: listPayouts
      description: |
        Cursor-paginated list of payouts for your merchant, sorted by `created_at`
        descending.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          description: Filter by one or more statuses. Repeat the param to pass multiple values.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PayoutStatus'
          style: form
          explode: true
        - name: beneficiary_id
          in: query
          schema:
            type: string
            pattern: '^ben_[a-zA-Z0-9]+$'
        - name: instrument_id
          in: query
          schema:
            type: string
            pattern: '^ins_[a-zA-Z0-9]+$'
        - name: batch_id
          in: query
          schema:
            type: string
            pattern: '^bat_[a-zA-Z0-9]+$'
        - name: dest_currency
          in: query
          schema:
            $ref: '#/components/schemas/CurrencyCode'
        - name: reference
          in: query
          description: Exact-match filter on the merchant's `reference` field.
          schema:
            type: string
        - name: created_after
          in: query
          description: RFC 3339 timestamp. Returns payouts with `created_at >= this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          description: RFC 3339 timestamp. Returns payouts with `created_at <= this` (inclusive upper bound — matches `/v1/batches`).
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of payouts.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Payout ID (prefixed `pay_`).
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
          example: pay_01HX8Z9K0M2N3P4Q5R6S7T8UAB
    get:
      tags: [Payouts]
      summary: Retrieve a payout
      operationId: getPayout
      description: Return a single payout by ID. Returns `404` if the payout does not exist or belongs to a different merchant.
      responses:
        '200':
          description: Payout.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/events:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    get:
      tags: [Payouts]
      summary: List lifecycle events for a payout
      operationId: listPayoutEvents
      description: |
        Return every status transition recorded for this payout, oldest first. Use
        this to reconstruct a payout's timeline for support, accounting, or
        debugging purposes. Note: the preferred way to react to events in real time
        is via webhook subscriptions — polling this endpoint wastes rate-limit
        budget.
      responses:
        '200':
          description: Lifecycle events.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayoutEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/payouts/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^pay_[a-zA-Z0-9]+$'
    post:
      tags: [Payouts]
      summary: Cancel a payout
      operationId: cancelPayout
      description: |
        Cancel a payout that has not yet been submitted to a rail. Cancellation is
        only possible from `created`, `pending_screening`, `pending_approval`,
        `pending_engine_review`, or `manual_review`. Once a payout reaches
        `processing` or beyond, it cannot be cancelled via the API — contact
        support if you need to halt a payout in flight.

        Any debited source funds (source amount, fee, and cross-currency buffer)
        are released back to the merchant balance on successful cancellation.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Free-form reason for cancellation. Recorded in the audit log.
                  maxLength: 255
                end_user_ip:
                  type: string
      responses:
        '200':
          description: Payout cancelled.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Payout is not in a cancellable state, or idempotency conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/import:
    post:
      tags: [Beneficiaries]
      summary: Preview a bulk beneficiary import
      operationId: previewBeneficiaryImport
      description: |
        Upload a CSV file of beneficiaries (individual OR business — one type per
        file). The server parses every row, runs the same validation as
        `POST /v1/beneficiaries`, and returns per-row results. **No beneficiaries
        are created at this phase.**

        After reviewing the per-row errors, call
        `POST /v1/beneficiaries/import/{import_id}/confirm` to materialize the rows
        that passed validation. The preview row TTLs after 24 hours.

        Distinct from the `POST /v1/batches` flow: that endpoint creates
        beneficiaries + instruments + payouts in one shot. This endpoint creates
        only beneficiaries — for the merchant-portal beneficiary onboarding
        surface (ANT-241).

        Requires an `Idempotency-Key` header.

        Maximum file size: 8 MB. Only `.csv` is accepted in v1.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file matching the individual or business template.
      responses:
        '201':
          description: Preview generated with per-row validation results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BeneficiaryImportPreview'
        '400':
          description: |
            Malformed upload. One of:
            - `invalid_multipart_form` — request body is not valid multipart/form-data.
            - `invalid_file` — the `file` form field was missing or unreadable.
            - `invalid_file_format` — unsupported extension (only `.csv` is accepted).
            - `invalid_csv` — the file could not be parsed, or the header row does not
              match the individual or business template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: '`file_too_large` — file exceeds the 8 MB limit.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`import_preview_failed` — the preview could not be persisted; safe to retry with a fresh idempotency key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/import/{importID}/confirm:
    parameters:
      - name: importID
        in: path
        required: true
        schema:
          type: string
          pattern: '^imp_[a-zA-Z0-9]+$'
    post:
      tags: [Beneficiaries]
      summary: Confirm a beneficiary import
      operationId: confirmBeneficiaryImport
      description: |
        Materializes beneficiaries for every row that passed preview validation.
        Invalid rows from the preview phase are skipped. Rows that pass preview
        but fail at create time (duplicate identity, vault failure, etc.) are
        reported in `errors[]`.

        The import row is marked `confirmed` once this call completes — even
        on partial failure. To re-run a subset, edit the source CSV and upload
        a fresh import.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Confirm completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BeneficiaryImportConfirm'
        '400':
          description: '`invalid_import_id` — the path parameter does not look like an `imp_` id.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`import_not_found` — no preview row matches this id for the calling merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            Confirm cannot proceed. One of:
            - `import_already_confirmed` — a previous call already materialized this import.
            - `import_expired` — the 24-hour TTL has elapsed; re-upload the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/import/template:
    get:
      tags: [Beneficiaries]
      summary: Download the beneficiary import CSV template
      operationId: downloadBeneficiaryImportTemplate
      description: |
        Returns a ready-to-fill CSV template with the canonical header row and
        one or two example rows. Use this to anchor your import format — column
        order and casing matter.
      parameters:
        - name: type
          in: query
          required: true
          description: Which template to serve.
          schema:
            type: string
            enum: [individual, business]
        - name: format
          in: query
          description: Template format. Only `csv` is supported in v1.
          schema:
            type: string
            enum: [csv]
            default: csv
      responses:
        '200':
          description: Template file.
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: |
            One of:
            - `invalid_template_type` — `type` must be `individual` or `business`.
            - `invalid_template_format` — only `csv` is supported in v1.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`template_not_found` — the template asset could not be located on the server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/beneficiaries/{id}/instruments:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^ben_[a-zA-Z0-9]+$'
    get:
      tags: [Instruments]
      summary: List a beneficiary's instruments
      operationId: listInstrumentsForBeneficiary
      description: Return all payment instruments attached to this beneficiary.
      responses:
        '200':
          description: List of instruments for the beneficiary.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags: [Instruments]
      summary: Create an instrument for a beneficiary
      operationId: createInstrumentForBeneficiary
      description: |
        Attach a payment instrument to a beneficiary. The credentials you submit
        (bank account numbers, wallet addresses, card PANs) are tokenized in Basis
        Theory on receipt — Anton's core database stores only a token reference, a
        display-only masked value, and a content fingerprint used for cross-merchant
        deduplication.

        The request body shape depends on the `method` — each method has a distinct
        credential schema. See the [Instruments methods endpoint](#tag/Reference-Data/operation/listPaymentMethods)
        for the full per-country method catalog.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentCreateRequest'
      responses:
        '201':
          description: Instrument created.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Instrument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/IdempotencyConflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches/template:
    get:
      tags: [Batches]
      summary: Download the batch CSV template
      operationId: downloadBatchTemplate
      description: |
        Returns a ready-to-fill template with the canonical header row and a
        handful of example rows. Use this to anchor your batch format — column
        order and casing matter.
      parameters:
        - name: format
          in: query
          description: Template format. Defaults to `xlsx` when omitted.
          schema:
            type: string
            enum: [xlsx, csv]
      responses:
        '200':
          description: Template file.
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
        '400':
          description: '`invalid_template_format` — the `format` query parameter must be `xlsx` or `csv`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`template_not_found` — the template asset could not be located on the server.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches:
    post:
      tags: [Batches]
      summary: Upload a batch
      operationId: uploadBatch
      description: |
        Upload a batch file (CSV or XLSX) containing many payout rows. The file
        is stored, hashed for duplicate detection, and queued for asynchronous
        validation. The response returns the batch in `uploaded` status; the
        status transitions to `validating`, then `validated` (or
        `validation_failed`) via webhook.

        After `validated`, review `GET /v1/batches/{id}` and the summary, then
        call `POST /v1/batches/{id}/confirm` to actually create the payouts.
        Confirmation expires — see `expires_at` on the batch record.

        Maximum file size: 32 MB. Maximum rows per batch: check current limits
        with support.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV or XLSX file. Filename is preserved.
      responses:
        '201':
          description: Batch accepted and queued for validation.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Batch'
        '400':
          description: |
            Malformed upload. One of:
            - `invalid_multipart_form` — request body is not valid multipart/form-data.
            - `invalid_file` — the `file` form field was missing or unreadable.
            - `invalid_file_format` — unsupported extension (only `.csv` and `.xlsx` are accepted).
            - `file_hash_mismatch` — the optional `file_hash` form value did not match the server-computed SHA-256.
            - `file_too_large` — file exceeds the 32 MB limit. (Also surfaced as 413; see below.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: '`duplicate_file` — a batch with this exact file hash is still being processed (non-terminal).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '413':
          description: '`file_too_large` — file exceeds the 32 MB limit.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`batch_upload_failed` — the batch could not be persisted after upload; safe to retry with a fresh idempotency key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [Batches]
      summary: List batches
      operationId: listBatches
      description: |
        Cursor-paginated list of batches for your merchant. Filter by
        `status` and/or the `created_at` range using `created_after` /
        `created_before`. Dates are RFC 3339 timestamps.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BatchStatus'
        - name: created_after
          in: query
          description: RFC 3339 timestamp. Returns batches with `created_at >= this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: created_before
          in: query
          description: RFC 3339 timestamp. Returns batches with `created_at <= this`.
          schema:
            $ref: '#/components/schemas/Timestamp'
      responses:
        '200':
          description: Paginated list of batches.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Batch'
        '400':
          description: '`invalid_cursor` — pagination cursor is malformed or has been tampered with.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/batches/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: Retrieve a batch
      operationId: getBatch
      description: Return a single batch, including its validation summary (when available).
      responses:
        '200':
          description: Batch record.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/confirm:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    post:
      tags: [Batches]
      summary: Confirm a validated batch
      operationId: confirmBatch
      description: |
        Confirm a batch for processing. The state machine is
        `uploaded → validating → validated → confirmed → processing → completed|partial|failed`.
        Only batches in `validated` status may be confirmed; the batch
        transitions to `confirmed` and then `processing` as payouts are
        created from valid rows.

        Confirmation is irrevocable — once a batch is `confirmed`, individual
        payouts can still be cancelled (`POST /v1/payouts/{id}/cancel`) up until
        they're submitted to a rail, but the batch itself proceeds.

        Requires an `Idempotency-Key` header.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                source_currency:
                  $ref: '#/components/schemas/CurrencyCode'
                  description: Override the default funding currency for rows that don't specify one.
      responses:
        '200':
          description: Batch confirmed and queued for processing.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Batch'
        '400':
          description: '`missing_idempotency_key` — the `Idempotency-Key` header is required for this endpoint.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            - `batch_not_validated` — batch is not in `validated` status.
            - `batch_confirmation_expired` — the batch's `expires_at` has passed; re-upload the file.
            - `idempotency_conflict` — the `Idempotency-Key` was reused with a different request body.
            - `idempotency_in_flight` — a prior request with the same `Idempotency-Key` is still being processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: >-
            Unprocessable. `insufficient_balance` — your available balance can't
            cover the batch's estimated debit in one or more funding currencies
            (checked against live balances at confirm time; add funds and
            re-upload, or confirm a smaller batch). `batch_confirm_failed` — the
            batch could not be confirmed due to an unexpected internal condition;
            safe to retry with the same idempotency key after the in-flight
            attempt settles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: '`idempotency_unavailable` — the idempotency subsystem is temporarily unavailable; retry with backoff.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    post:
      tags: [Batches]
      summary: Cancel a batch
      operationId: cancelBatch
      description: |
        Cancel a batch before processing begins. Valid from `uploaded`,
        `validating`, `validated`, `validation_failed`, or `confirmed`. Once
        `processing` begins, use per-payout cancellation instead.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Batch cancelled.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: '`batch_not_cancellable` — batch is already in a terminal state or is actively processing.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`batch_cancel_failed` — the batch could not be cancelled due to an unexpected internal condition.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/payouts:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List payouts created from a batch
      operationId: listBatchPayouts
      description: |
        Cursor-paginated list of payouts created by processing this batch. Row
        order in the original file is preserved in the response.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Payouts created by this batch.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorList'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payout'
        '400':
          description: '`invalid_cursor` — pagination cursor is malformed or has been tampered with.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /v1/batches/{id}/beneficiaries:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List beneficiaries created or referenced by a batch
      operationId: listBatchBeneficiaries
      description: |
        Cursor-paginated list of the beneficiaries this batch auto-created or
        first referenced (matched by source batch). Merchant-scoped — a batch
        belonging to another merchant returns 404.
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Beneficiaries associated with this batch.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorList'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Beneficiary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: '`batch_not_found` — the batch does not exist, or belongs to a different merchant.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/batches/{id}/errors:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^bat_[a-zA-Z0-9]+$'
    get:
      tags: [Batches]
      summary: List validation errors and warnings for a batch
      operationId: listBatchErrors
      description: |
        Return the row-level validation errors and warnings produced during the
        `validating` phase. Each error or warning carries the row number and
        field it applies to so you can point the merchant back to their source
        file.
      responses:
        '200':
[...]
